<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_40458269ccd91b7f7f93206ebb583517 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_40458269ccd91b7f7f93206ebb583517" ></div>
        
</body>
<script>
    
    
            var map_40458269ccd91b7f7f93206ebb583517 = L.map(
                "map_40458269ccd91b7f7f93206ebb583517",
                {
                    center: [19.434430271379885, -99.13309144564224],
                    crs: L.CRS.EPSG3857,
                    zoom: 11.4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4a44bef0779231ab9251f5320501179d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var feature_group_4c793945ceb1e47f3b20ba1b655adb6b = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_90ea6a86de83159bb8ec4b023455d439 = L.marker(
                [19.4953986565987, -99.1221070743207],
                {}
            ).addTo(feature_group_4c793945ceb1e47f3b20ba1b655adb6b);
        
    
            var icon_9f520943dec80a6b6e5f2333e92fdb48 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_90ea6a86de83159bb8ec4b023455d439.setIcon(icon_9f520943dec80a6b6e5f2333e92fdb48);
        
    
        var popup_409130152f6be00bf84a114e19e3e111 = L.popup({"maxWidth": "100%"});

        
            
                var html_fb8513aeaa445107ef60925cb755852b = $(`<div id="html_fb8513aeaa445107ef60925cb755852b" style="width: 100.0%; height: 100.0%;">Indios Verdes</div>`)[0];
                popup_409130152f6be00bf84a114e19e3e111.setContent(html_fb8513aeaa445107ef60925cb755852b);
            
        

        marker_90ea6a86de83159bb8ec4b023455d439.bindPopup(popup_409130152f6be00bf84a114e19e3e111)
        ;

        
    
    
            var feature_group_c438fdbac99a3390164d41d29f561da4 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_9b54df1b7905a77568a0b8a302e419ce = L.marker(
                [19.4953986565987, -99.1221070743207],
                {}
            ).addTo(feature_group_c438fdbac99a3390164d41d29f561da4);
        
    
            var icon_90123f798b291af3aa7de73e3df1809f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_9b54df1b7905a77568a0b8a302e419ce.setIcon(icon_90123f798b291af3aa7de73e3df1809f);
        
    
        var popup_b482b11590a607939d46a4379feac722 = L.popup({"maxWidth": "100%"});

        
            
                var html_447e37da1c0eec8b71a863c0f2eb70d1 = $(`<div id="html_447e37da1c0eec8b71a863c0f2eb70d1" style="width: 100.0%; height: 100.0%;">Indios Verdes</div>`)[0];
                popup_b482b11590a607939d46a4379feac722.setContent(html_447e37da1c0eec8b71a863c0f2eb70d1);
            
        

        marker_9b54df1b7905a77568a0b8a302e419ce.bindPopup(popup_b482b11590a607939d46a4379feac722)
        ;

        
    
    
            var feature_group_b406a98ff9b4c08b62386b4e9438fb54 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_96094c3dddce15929324474302ce49f9 = L.marker(
                [19.511399964853, -99.133664620352],
                {}
            ).addTo(feature_group_b406a98ff9b4c08b62386b4e9438fb54);
        
    
            var icon_82e35fc64158275da793a4592fcbfc75 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_96094c3dddce15929324474302ce49f9.setIcon(icon_82e35fc64158275da793a4592fcbfc75);
        
    
        var popup_f9ac5013186a0d488353692755f2ee16 = L.popup({"maxWidth": "100%"});

        
            
                var html_6fa27b26281366b6dab8cd3b1839d39d = $(`<div id="html_6fa27b26281366b6dab8cd3b1839d39d" style="width: 100.0%; height: 100.0%;">Ticoman</div>`)[0];
                popup_f9ac5013186a0d488353692755f2ee16.setContent(html_6fa27b26281366b6dab8cd3b1839d39d);
            
        

        marker_96094c3dddce15929324474302ce49f9.bindPopup(popup_f9ac5013186a0d488353692755f2ee16)
        ;

        
    
    
            var feature_group_19996938840169948d1f947600cec6e5 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_925742a395157ada5c5402484a1e207a = L.marker(
                [19.511399964853, -99.133664620352],
                {}
            ).addTo(feature_group_19996938840169948d1f947600cec6e5);
        
    
            var icon_7fa8b7c8c3dabc14c325992b7be81552 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_925742a395157ada5c5402484a1e207a.setIcon(icon_7fa8b7c8c3dabc14c325992b7be81552);
        
    
        var popup_28ace6175eb32afd93cc8dec4f2061ae = L.popup({"maxWidth": "100%"});

        
            
                var html_a1fe8a5f6940a93dece4f7b7e6de8906 = $(`<div id="html_a1fe8a5f6940a93dece4f7b7e6de8906" style="width: 100.0%; height: 100.0%;">Ticoman</div>`)[0];
                popup_28ace6175eb32afd93cc8dec4f2061ae.setContent(html_a1fe8a5f6940a93dece4f7b7e6de8906);
            
        

        marker_925742a395157ada5c5402484a1e207a.bindPopup(popup_28ace6175eb32afd93cc8dec4f2061ae)
        ;

        
    
    
            var feature_group_7cfbb3e1b91e07926686eb1fbb42b457 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_78b9f3758b2106c9af991bfd863f0125 = L.marker(
                [19.5281010330183, -99.1405853505227],
                {}
            ).addTo(feature_group_7cfbb3e1b91e07926686eb1fbb42b457);
        
    
            var icon_51ac79355b124a40cda1a3e6aa35bcb6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_78b9f3758b2106c9af991bfd863f0125.setIcon(icon_51ac79355b124a40cda1a3e6aa35bcb6);
        
    
        var popup_6410cf9c2be760fff694c926196afca8 = L.popup({"maxWidth": "100%"});

        
            
                var html_aa2a1720fe0dbb8f3e371be65d753a65 = $(`<div id="html_aa2a1720fe0dbb8f3e371be65d753a65" style="width: 100.0%; height: 100.0%;">La Pastora</div>`)[0];
                popup_6410cf9c2be760fff694c926196afca8.setContent(html_aa2a1720fe0dbb8f3e371be65d753a65);
            
        

        marker_78b9f3758b2106c9af991bfd863f0125.bindPopup(popup_6410cf9c2be760fff694c926196afca8)
        ;

        
    
    
            var feature_group_cef21aa180b1870b684ab303d5e91fe7 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_cef8d4da00c8d0cb6c7c969e0f01ca09 = L.marker(
                [19.5281010330183, -99.1405853505227],
                {}
            ).addTo(feature_group_cef21aa180b1870b684ab303d5e91fe7);
        
    
            var icon_7edd77911d5642fdad5aa14b90a42828 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_cef8d4da00c8d0cb6c7c969e0f01ca09.setIcon(icon_7edd77911d5642fdad5aa14b90a42828);
        
    
        var popup_179facabf02bd90a2a7c6d4e872d0927 = L.popup({"maxWidth": "100%"});

        
            
                var html_dd93dc788bb8e5785edd77874d1a5bdd = $(`<div id="html_dd93dc788bb8e5785edd77874d1a5bdd" style="width: 100.0%; height: 100.0%;">La Pastora</div>`)[0];
                popup_179facabf02bd90a2a7c6d4e872d0927.setContent(html_dd93dc788bb8e5785edd77874d1a5bdd);
            
        

        marker_cef8d4da00c8d0cb6c7c969e0f01ca09.bindPopup(popup_179facabf02bd90a2a7c6d4e872d0927)
        ;

        
    
    
            var feature_group_b618d6956adaf36cfd0449797f1ea691 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_9f6c3731820cc36f181092439509a950 = L.marker(
                [19.5414492123937, -99.1415937510245],
                {}
            ).addTo(feature_group_b618d6956adaf36cfd0449797f1ea691);
        
    
            var icon_0c4c0a8272921a38256587b7fd00262e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_9f6c3731820cc36f181092439509a950.setIcon(icon_0c4c0a8272921a38256587b7fd00262e);
        
    
        var popup_32252be447028a24116bbc7dfe8f7fa0 = L.popup({"maxWidth": "100%"});

        
            
                var html_f0d137f1290640d10c99cd4ab69abe93 = $(`<div id="html_f0d137f1290640d10c99cd4ab69abe93" style="width: 100.0%; height: 100.0%;">Campos de Revolución</div>`)[0];
                popup_32252be447028a24116bbc7dfe8f7fa0.setContent(html_f0d137f1290640d10c99cd4ab69abe93);
            
        

        marker_9f6c3731820cc36f181092439509a950.bindPopup(popup_32252be447028a24116bbc7dfe8f7fa0)
        ;

        
    
    
            var feature_group_c4ea4d51e629fa01ff552dabceb93fee = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_978da5ffa1e1b256717467dc3d3f17e1 = L.marker(
                [19.5414492123937, -99.1415937510245],
                {}
            ).addTo(feature_group_c4ea4d51e629fa01ff552dabceb93fee);
        
    
            var icon_8bc40d4a8762965c6eed1797e5af3ce0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_978da5ffa1e1b256717467dc3d3f17e1.setIcon(icon_8bc40d4a8762965c6eed1797e5af3ce0);
        
    
        var popup_e4cc5173ef678da7485473d0a63d731b = L.popup({"maxWidth": "100%"});

        
            
                var html_b1be6b69ffa4454d3f04c190ebf43d2d = $(`<div id="html_b1be6b69ffa4454d3f04c190ebf43d2d" style="width: 100.0%; height: 100.0%;">Campos de Revolución</div>`)[0];
                popup_e4cc5173ef678da7485473d0a63d731b.setContent(html_b1be6b69ffa4454d3f04c190ebf43d2d);
            
        

        marker_978da5ffa1e1b256717467dc3d3f17e1.bindPopup(popup_e4cc5173ef678da7485473d0a63d731b)
        ;

        
    
    
            var feature_group_eb9e1392b30ff86237c098c5388de30e = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_9cc0e17a94c98022948a750c9ca9c015 = L.marker(
                [19.5591611600409, -99.1338442155472],
                {}
            ).addTo(feature_group_eb9e1392b30ff86237c098c5388de30e);
        
    
            var icon_c0e709e4bcaaffb2ec9a9a003ac7e8a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_9cc0e17a94c98022948a750c9ca9c015.setIcon(icon_c0e709e4bcaaffb2ec9a9a003ac7e8a1);
        
    
        var popup_39887cd2f3dd3539f997a7e2ece01134 = L.popup({"maxWidth": "100%"});

        
            
                var html_112d9b7fcff72a441abe0efd400db238 = $(`<div id="html_112d9b7fcff72a441abe0efd400db238" style="width: 100.0%; height: 100.0%;">Cuautepec</div>`)[0];
                popup_39887cd2f3dd3539f997a7e2ece01134.setContent(html_112d9b7fcff72a441abe0efd400db238);
            
        

        marker_9cc0e17a94c98022948a750c9ca9c015.bindPopup(popup_39887cd2f3dd3539f997a7e2ece01134)
        ;

        
    
    
            var poly_line_49a7312703235144bf544ea217994115 = L.polyline(
                [[19.4953986565987, -99.1221070743207], [19.511399964853, -99.133664620352], [19.5281010330183, -99.1405853505227], [19.5414492123937, -99.1415937510245], [19.5591611600409, -99.1338442155472]],
                {"bubblingMouseEvents": true, "color": "lightblue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_eb9e1392b30ff86237c098c5388de30e);
        
    
            var feature_group_2e32fa777781496108ff00a46d40757d = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_d5ed38da81ce402922fbe7b98d359742 = L.marker(
                [19.5591611600409, -99.1338442155472],
                {}
            ).addTo(feature_group_2e32fa777781496108ff00a46d40757d);
        
    
            var icon_c71224b68af306cd07e57d7c43108c6d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_d5ed38da81ce402922fbe7b98d359742.setIcon(icon_c71224b68af306cd07e57d7c43108c6d);
        
    
        var popup_6b5c4f5ba1485a0917e3afe1549d64da = L.popup({"maxWidth": "100%"});

        
            
                var html_eb273522ac32da4be336536772d900c3 = $(`<div id="html_eb273522ac32da4be336536772d900c3" style="width: 100.0%; height: 100.0%;">Cuautepec</div>`)[0];
                popup_6b5c4f5ba1485a0917e3afe1549d64da.setContent(html_eb273522ac32da4be336536772d900c3);
            
        

        marker_d5ed38da81ce402922fbe7b98d359742.bindPopup(popup_6b5c4f5ba1485a0917e3afe1549d64da)
        ;

        
    
    
            var feature_group_1e2d9731870fc9656fa9793433315aa9 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var poly_line_4d92d66fe0cdd13a537b597235821d4d = L.polyline(
                [[19.4953986565987, -99.1221070743207], [19.511399964853, -99.133664620352], [19.5281010330183, -99.1405853505227], [19.5414492123937, -99.1415937510245], [19.5591611600409, -99.1338442155472]],
                {"bubblingMouseEvents": true, "color": "lightblue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_1e2d9731870fc9656fa9793433315aa9);
        
    
            var feature_group_84462935b130b40ff965fc45c3c0d5f2 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_78b897787a369971a07ba446769382cb = L.marker(
                [19.5421758985264, -99.1417406386286],
                {}
            ).addTo(feature_group_84462935b130b40ff965fc45c3c0d5f2);
        
    
            var icon_41881c9670bccccf059bd1d9e0f17863 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_78b897787a369971a07ba446769382cb.setIcon(icon_41881c9670bccccf059bd1d9e0f17863);
        
    
        var popup_960813d13bcae1d659163e2306c9488b = L.popup({"maxWidth": "100%"});

        
            
                var html_ad24c4ef49a047cf3d53c9973303ed41 = $(`<div id="html_ad24c4ef49a047cf3d53c9973303ed41" style="width: 100.0%; height: 100.0%;">Campos de Revolución (Ramal 1)</div>`)[0];
                popup_960813d13bcae1d659163e2306c9488b.setContent(html_ad24c4ef49a047cf3d53c9973303ed41);
            
        

        marker_78b897787a369971a07ba446769382cb.bindPopup(popup_960813d13bcae1d659163e2306c9488b)
        ;

        
    
    
            var feature_group_ce8d3e7cb64f4b63d94cc349ab726c7a = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_9cc66c9bb06e748d0373b498754e88a8 = L.marker(
                [19.5421758985264, -99.1417406386286],
                {}
            ).addTo(feature_group_ce8d3e7cb64f4b63d94cc349ab726c7a);
        
    
            var icon_b21199592fcbf30e86f1057b50e99c52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_9cc66c9bb06e748d0373b498754e88a8.setIcon(icon_b21199592fcbf30e86f1057b50e99c52);
        
    
        var popup_274cf5a9a3a85a05eb7857f3b277500e = L.popup({"maxWidth": "100%"});

        
            
                var html_9bc37dfe73c56f59e80ebb09ccc0b809 = $(`<div id="html_9bc37dfe73c56f59e80ebb09ccc0b809" style="width: 100.0%; height: 100.0%;">Campos de Revolución (Ramal 1)</div>`)[0];
                popup_274cf5a9a3a85a05eb7857f3b277500e.setContent(html_9bc37dfe73c56f59e80ebb09ccc0b809);
            
        

        marker_9cc66c9bb06e748d0373b498754e88a8.bindPopup(popup_274cf5a9a3a85a05eb7857f3b277500e)
        ;

        
    
    
            var feature_group_c2c20f7232fe28137a79b3390c55fda2 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_636c0acf4c616e901319ea5fbc9ac90f = L.marker(
                [19.5458966325502, -99.1261194538371],
                {}
            ).addTo(feature_group_c2c20f7232fe28137a79b3390c55fda2);
        
    
            var icon_d0cacdd7522eef2f31cb94324005e058 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_636c0acf4c616e901319ea5fbc9ac90f.setIcon(icon_d0cacdd7522eef2f31cb94324005e058);
        
    
        var popup_3bef48ae8658f2c527072a0727c8602d = L.popup({"maxWidth": "100%"});

        
            
                var html_d082515429c80ade07791017138bb3c6 = $(`<div id="html_d082515429c80ade07791017138bb3c6" style="width: 100.0%; height: 100.0%;">Tlalpexco (Ramal 1)</div>`)[0];
                popup_3bef48ae8658f2c527072a0727c8602d.setContent(html_d082515429c80ade07791017138bb3c6);
            
        

        marker_636c0acf4c616e901319ea5fbc9ac90f.bindPopup(popup_3bef48ae8658f2c527072a0727c8602d)
        ;

        
    
    
            var poly_line_e18fddc535b66d229dd8ec78054e7fd8 = L.polyline(
                [[19.5421758985264, -99.1417406386286], [19.5458966325502, -99.1261194538371]],
                {"bubblingMouseEvents": true, "color": "lightblue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_c2c20f7232fe28137a79b3390c55fda2);
        
    
            var feature_group_15e99260beed80d29531cc3132b263d1 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var marker_a602ccdfc63f52e282058bdf72a35aea = L.marker(
                [19.5458966325502, -99.1261194538371],
                {}
            ).addTo(feature_group_15e99260beed80d29531cc3132b263d1);
        
    
            var icon_f352d6980a64128d33060e4ccda9f983 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "lightblue", "prefix": "fa"}
            );
            marker_a602ccdfc63f52e282058bdf72a35aea.setIcon(icon_f352d6980a64128d33060e4ccda9f983);
        
    
        var popup_6de93d5068189e34b526c0fbb70074f3 = L.popup({"maxWidth": "100%"});

        
            
                var html_69d4f06ba7513340809163dbd44f6466 = $(`<div id="html_69d4f06ba7513340809163dbd44f6466" style="width: 100.0%; height: 100.0%;">Tlalpexco (Ramal 1)</div>`)[0];
                popup_6de93d5068189e34b526c0fbb70074f3.setContent(html_69d4f06ba7513340809163dbd44f6466);
            
        

        marker_a602ccdfc63f52e282058bdf72a35aea.bindPopup(popup_6de93d5068189e34b526c0fbb70074f3)
        ;

        
    
    
            var feature_group_c3d4f0083640ae1e12230e8679fa6d79 = L.featureGroup(
                {}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    
            var poly_line_c3c83454058ddf62e9d359fb6858e37e = L.polyline(
                [[19.5421758985264, -99.1417406386286], [19.5458966325502, -99.1261194538371]],
                {"bubblingMouseEvents": true, "color": "lightblue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "lightblue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_c3d4f0083640ae1e12230e8679fa6d79);
        
    
            var layer_control_cbfc77adff879d4bd45b6d4e1bcfa76a = {
                base_layers : {
                    "openstreetmap" : tile_layer_4a44bef0779231ab9251f5320501179d,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_cbfc77adff879d4bd45b6d4e1bcfa76a.base_layers,
                layer_control_cbfc77adff879d4bd45b6d4e1bcfa76a.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);
        
    

            L.control.groupedLayers(
                null,
                {
                    "L\u00edneas Principales" : {
                    },
                    "L\u00edneas Anillares Interiores" : {
                    },
                    "L\u00edneas Inter-Urbanas" : {
                    },
                    "L\u00edneas Metrobus" : {
                        "Metrobus" : feature_group_2610b40c7c0e84d4f576cf7d20c7145b,
                    },
                    "L\u00edneas Cabelbus" : {
                    },
                },
                {"exclusiveGroups": ["L\u00edneas Principales", "L\u00edneas Anillares Interiores", "L\u00edneas Inter-Urbanas", "L\u00edneas Metrobus", "L\u00edneas Cabelbus"]},
            ).addTo(map_40458269ccd91b7f7f93206ebb583517);

        
</script>
</html>