<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2934995dcd9d5c8974ffaa98fb780323 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_2934995dcd9d5c8974ffaa98fb780323" ></div>
        
</body>
<script>
    
    
            var map_2934995dcd9d5c8974ffaa98fb780323 = L.map(
                "map_2934995dcd9d5c8974ffaa98fb780323",
                {
                    center: [19.434430271379885, -99.13309144564224],
                    crs: L.CRS.EPSG3857,
                    zoom: 11.4,
                    zoomControl: true,
                    preferCanvas: false,
                    titles: "Map",
                }
            );

            

        
    
            var tile_layer_d886a8236671874654767b19a56b37ab = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var feature_group_9a351b924d4daafa68297bc5bd463286 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_0db3a7c8587c8f95feafa95dab0d293f = L.marker(
                [19.4153411939961, -99.0742859007063],
                {}
            ).addTo(feature_group_9a351b924d4daafa68297bc5bd463286);
        
    
            var icon_35790b4573772ef21387bf3cf194f4ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_0db3a7c8587c8f95feafa95dab0d293f.setIcon(icon_35790b4573772ef21387bf3cf194f4ef);
        
    
        var popup_e10cedea4a4d015bd398fb1ee9007658 = L.popup({"maxWidth": "100%"});

        
            
                var html_e9abdc845ab1d21efdd4f3fd37135178 = $(`<div id="html_e9abdc845ab1d21efdd4f3fd37135178" style="width: 100.0%; height: 100.0%;">Pantitlán</div>`)[0];
                popup_e10cedea4a4d015bd398fb1ee9007658.setContent(html_e9abdc845ab1d21efdd4f3fd37135178);
            
        

        marker_0db3a7c8587c8f95feafa95dab0d293f.bindPopup(popup_e10cedea4a4d015bd398fb1ee9007658)
        ;

        
    
    
            var feature_group_c216597c45eb681d61a23ad34db8cb0d = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_82c48faea93b285fa5b0641a2c110a07 = L.marker(
                [19.4121526940305, -99.0825467969711],
                {}
            ).addTo(feature_group_c216597c45eb681d61a23ad34db8cb0d);
        
    
            var icon_e8eb40da44caa9cad9c16d89dbcab15b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_82c48faea93b285fa5b0641a2c110a07.setIcon(icon_e8eb40da44caa9cad9c16d89dbcab15b);
        
    
        var popup_00d95115e15d6992b889a7796f84d9ac = L.popup({"maxWidth": "100%"});

        
            
                var html_6eeb9f6e17acd86d10c0b28d6c45b037 = $(`<div id="html_6eeb9f6e17acd86d10c0b28d6c45b037" style="width: 100.0%; height: 100.0%;">Zaragoza</div>`)[0];
                popup_00d95115e15d6992b889a7796f84d9ac.setContent(html_6eeb9f6e17acd86d10c0b28d6c45b037);
            
        

        marker_82c48faea93b285fa5b0641a2c110a07.bindPopup(popup_00d95115e15d6992b889a7796f84d9ac)
        ;

        
    
    
            var feature_group_51d21dfd5d3c376b7b90d65b1c5dad0b = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_b5476a863a2f3ac595d00031c697ef39 = L.marker(
                [19.4166353160295, -99.0900784397441],
                {}
            ).addTo(feature_group_51d21dfd5d3c376b7b90d65b1c5dad0b);
        
    
            var icon_8efef271ceed26b12ccf80435da9672c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_b5476a863a2f3ac595d00031c697ef39.setIcon(icon_8efef271ceed26b12ccf80435da9672c);
        
    
        var popup_dc26584048b1b5fb96c4fb7ea79c62a4 = L.popup({"maxWidth": "100%"});

        
            
                var html_5683eaee805ac77563bb7ec0617db6b9 = $(`<div id="html_5683eaee805ac77563bb7ec0617db6b9" style="width: 100.0%; height: 100.0%;">Gomez Farías</div>`)[0];
                popup_dc26584048b1b5fb96c4fb7ea79c62a4.setContent(html_5683eaee805ac77563bb7ec0617db6b9);
            
        

        marker_b5476a863a2f3ac595d00031c697ef39.bindPopup(popup_dc26584048b1b5fb96c4fb7ea79c62a4)
        ;

        
    
    
            var feature_group_0376e4fd5022f5145769dcf93af31229 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_852a1d5ddd354e9a4eb73b6d11676469 = L.marker(
                [19.4199845534132, -99.0962797070309],
                {}
            ).addTo(feature_group_0376e4fd5022f5145769dcf93af31229);
        
    
            var icon_7352d3714248db28dc34c58ed3b7722b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_852a1d5ddd354e9a4eb73b6d11676469.setIcon(icon_7352d3714248db28dc34c58ed3b7722b);
        
    
        var popup_3bac9862ef59ccec2a8bdf4f0e882b35 = L.popup({"maxWidth": "100%"});

        
            
                var html_3e76d0a7633483a7b91e88635fe22177 = $(`<div id="html_3e76d0a7633483a7b91e88635fe22177" style="width: 100.0%; height: 100.0%;">Boulevard Puerto Aéreo</div>`)[0];
                popup_3bac9862ef59ccec2a8bdf4f0e882b35.setContent(html_3e76d0a7633483a7b91e88635fe22177);
            
        

        marker_852a1d5ddd354e9a4eb73b6d11676469.bindPopup(popup_3bac9862ef59ccec2a8bdf4f0e882b35)
        ;

        
    
    
            var feature_group_4a4feb70ff40793325ce18edf4b01e55 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_c3dc8d2d6016e2462dfe1317deec68bb = L.marker(
                [19.4233741946482, -99.1026419066529],
                {}
            ).addTo(feature_group_4a4feb70ff40793325ce18edf4b01e55);
        
    
            var icon_4e4ded178303a633435d8f31360a20e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_c3dc8d2d6016e2462dfe1317deec68bb.setIcon(icon_4e4ded178303a633435d8f31360a20e3);
        
    
        var popup_711a769ac2179850f9e623af958dd741 = L.popup({"maxWidth": "100%"});

        
            
                var html_b37bb3494319cc9fef59c866fff4740d = $(`<div id="html_b37bb3494319cc9fef59c866fff4740d" style="width: 100.0%; height: 100.0%;">Balbuena</div>`)[0];
                popup_711a769ac2179850f9e623af958dd741.setContent(html_b37bb3494319cc9fef59c866fff4740d);
            
        

        marker_c3dc8d2d6016e2462dfe1317deec68bb.bindPopup(popup_711a769ac2179850f9e623af958dd741)
        ;

        
    
    
            var feature_group_5c9be7e8b2da1f261391bb69f4a397c0 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_1ad314bc91259d58aac3f0259a231e0a = L.marker(
                [19.4269357713719, -99.1098409556709],
                {}
            ).addTo(feature_group_5c9be7e8b2da1f261391bb69f4a397c0);
        
    
            var icon_80379b21d89e1b2ef658a455a8944823 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1ad314bc91259d58aac3f0259a231e0a.setIcon(icon_80379b21d89e1b2ef658a455a8944823);
        
    
        var popup_891ac168517adb6e34d2bb78a261d0c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_cdbab9986dbecbc0d4ba05e6a40c3bdf = $(`<div id="html_cdbab9986dbecbc0d4ba05e6a40c3bdf" style="width: 100.0%; height: 100.0%;">Moctezuma</div>`)[0];
                popup_891ac168517adb6e34d2bb78a261d0c4.setContent(html_cdbab9986dbecbc0d4ba05e6a40c3bdf);
            
        

        marker_1ad314bc91259d58aac3f0259a231e0a.bindPopup(popup_891ac168517adb6e34d2bb78a261d0c4)
        ;

        
    
    
            var feature_group_87ee692dea595f74dfe67ecdaa09a34f = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_87501adb17e61863c99b313b51abda1f = L.marker(
                [19.4313168083262, -99.1141968631142],
                {}
            ).addTo(feature_group_87ee692dea595f74dfe67ecdaa09a34f);
        
    
            var icon_37a135d811fff9f2b092f1512afe0bac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_87501adb17e61863c99b313b51abda1f.setIcon(icon_37a135d811fff9f2b092f1512afe0bac);
        
    
        var popup_48a79346a0debdb7ea7e61ec03c5b075 = L.popup({"maxWidth": "100%"});

        
            
                var html_3e3e32c804a33bfeebab1696f7bc5ccd = $(`<div id="html_3e3e32c804a33bfeebab1696f7bc5ccd" style="width: 100.0%; height: 100.0%;">San Lázaro</div>`)[0];
                popup_48a79346a0debdb7ea7e61ec03c5b075.setContent(html_3e3e32c804a33bfeebab1696f7bc5ccd);
            
        

        marker_87501adb17e61863c99b313b51abda1f.bindPopup(popup_48a79346a0debdb7ea7e61ec03c5b075)
        ;

        
    
    
            var feature_group_9cbf3b5f6021eec4794217ef6bd0d247 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_11f1a5e745289b1e36a76d080851057b = L.marker(
                [19.4292932493898, -99.120913114534],
                {}
            ).addTo(feature_group_9cbf3b5f6021eec4794217ef6bd0d247);
        
    
            var icon_07cf1b3493566384e381c66b10084abe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_11f1a5e745289b1e36a76d080851057b.setIcon(icon_07cf1b3493566384e381c66b10084abe);
        
    
        var popup_52648dc91f5f7d996bd12d10f2891f0e = L.popup({"maxWidth": "100%"});

        
            
                var html_9b613408e8338f533aeb9899650f152b = $(`<div id="html_9b613408e8338f533aeb9899650f152b" style="width: 100.0%; height: 100.0%;">Candelaria</div>`)[0];
                popup_52648dc91f5f7d996bd12d10f2891f0e.setContent(html_9b613408e8338f533aeb9899650f152b);
            
        

        marker_11f1a5e745289b1e36a76d080851057b.bindPopup(popup_52648dc91f5f7d996bd12d10f2891f0e)
        ;

        
    
    
            var feature_group_62930d9c174cfcef5f5c8db798270791 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_5f12445f6eb33c5fece1de71aef7e3f5 = L.marker(
                [19.425559716937, -99.1251831913525],
                {}
            ).addTo(feature_group_62930d9c174cfcef5f5c8db798270791);
        
    
            var icon_cca31a168106dc63a5d0b230c3509250 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_5f12445f6eb33c5fece1de71aef7e3f5.setIcon(icon_cca31a168106dc63a5d0b230c3509250);
        
    
        var popup_2b2844dc0782d16b86ccbebb2eaf3ac3 = L.popup({"maxWidth": "100%"});

        
            
                var html_9a9377102788b02288ffb1745272b0c2 = $(`<div id="html_9a9377102788b02288ffb1745272b0c2" style="width: 100.0%; height: 100.0%;">Merced</div>`)[0];
                popup_2b2844dc0782d16b86ccbebb2eaf3ac3.setContent(html_9a9377102788b02288ffb1745272b0c2);
            
        

        marker_5f12445f6eb33c5fece1de71aef7e3f5.bindPopup(popup_2b2844dc0782d16b86ccbebb2eaf3ac3)
        ;

        
    
    
            var feature_group_deea6ac5831f4d737a1572ef076bb196 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_1770a355139dd6f5f6f9d209e303ee1d = L.marker(
                [19.4260352664792, -99.1330688858292],
                {}
            ).addTo(feature_group_deea6ac5831f4d737a1572ef076bb196);
        
    
            var icon_a3065ec4d6250c9b71e868d644b19093 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_1770a355139dd6f5f6f9d209e303ee1d.setIcon(icon_a3065ec4d6250c9b71e868d644b19093);
        
    
        var popup_517398809e142445f1d900bdc802556f = L.popup({"maxWidth": "100%"});

        
            
                var html_e567497ded27038f04887b821016c1d3 = $(`<div id="html_e567497ded27038f04887b821016c1d3" style="width: 100.0%; height: 100.0%;">Pino Suárez</div>`)[0];
                popup_517398809e142445f1d900bdc802556f.setContent(html_e567497ded27038f04887b821016c1d3);
            
        

        marker_1770a355139dd6f5f6f9d209e303ee1d.bindPopup(popup_517398809e142445f1d900bdc802556f)
        ;

        
    
    
            var feature_group_af3e9b3ad1d950faff1fa9d14e76ecdc = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_f885938e584d155e74b1856cb003558a = L.marker(
                [19.4264399884029, -99.1378646754492],
                {}
            ).addTo(feature_group_af3e9b3ad1d950faff1fa9d14e76ecdc);
        
    
            var icon_8c45a763fbc3eceb1f2a50de1ff4167f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_f885938e584d155e74b1856cb003558a.setIcon(icon_8c45a763fbc3eceb1f2a50de1ff4167f);
        
    
        var popup_b4e4f4594e8cb903959b5b3c21542768 = L.popup({"maxWidth": "100%"});

        
            
                var html_5aec62201402284c44284f6b8626b080 = $(`<div id="html_5aec62201402284c44284f6b8626b080" style="width: 100.0%; height: 100.0%;">Isabel La Católica</div>`)[0];
                popup_b4e4f4594e8cb903959b5b3c21542768.setContent(html_5aec62201402284c44284f6b8626b080);
            
        

        marker_f885938e584d155e74b1856cb003558a.bindPopup(popup_b4e4f4594e8cb903959b5b3c21542768)
        ;

        
    
    
            var feature_group_5be0ccbd45f9a767adeec8a998d85537 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_c091792b41b6964dcd8e5c848962be34 = L.marker(
                [19.4272797831817, -99.1421240234201],
                {}
            ).addTo(feature_group_5be0ccbd45f9a767adeec8a998d85537);
        
    
            var icon_b9c32269924f0077eb336f209b334038 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_c091792b41b6964dcd8e5c848962be34.setIcon(icon_b9c32269924f0077eb336f209b334038);
        
    
        var popup_aeb695d95e8b77894222b825b0baeade = L.popup({"maxWidth": "100%"});

        
            
                var html_6c42e3dc328bc0bba1b8923edf5d6afa = $(`<div id="html_6c42e3dc328bc0bba1b8923edf5d6afa" style="width: 100.0%; height: 100.0%;">Salto del Agua</div>`)[0];
                popup_aeb695d95e8b77894222b825b0baeade.setContent(html_6c42e3dc328bc0bba1b8923edf5d6afa);
            
        

        marker_c091792b41b6964dcd8e5c848962be34.bindPopup(popup_aeb695d95e8b77894222b825b0baeade)
        ;

        
    
    
            var feature_group_766b444af9d9b25b0df43f7e3d0611b3 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_d943e0321ba2c4949ecfce70a568f34d = L.marker(
                [19.4272291932659, -99.1489690208955],
                {}
            ).addTo(feature_group_766b444af9d9b25b0df43f7e3d0611b3);
        
    
            var icon_be77f4e2d8388f2ea5b0b492cdc1af4c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_d943e0321ba2c4949ecfce70a568f34d.setIcon(icon_be77f4e2d8388f2ea5b0b492cdc1af4c);
        
    
        var popup_f05c0b52c91f8f2dd6c0675c82ed1464 = L.popup({"maxWidth": "100%"});

        
            
                var html_636d9858800f752fff6bef07cf44da4f = $(`<div id="html_636d9858800f752fff6bef07cf44da4f" style="width: 100.0%; height: 100.0%;">Balderas</div>`)[0];
                popup_f05c0b52c91f8f2dd6c0675c82ed1464.setContent(html_636d9858800f752fff6bef07cf44da4f);
            
        

        marker_d943e0321ba2c4949ecfce70a568f34d.bindPopup(popup_f05c0b52c91f8f2dd6c0675c82ed1464)
        ;

        
    
    
            var feature_group_188e72527809ba2a93dace3fa82e74ae = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_728bc7d8389183777157a01092ad028e = L.marker(
                [19.4256912520391, -99.1544836425289],
                {}
            ).addTo(feature_group_188e72527809ba2a93dace3fa82e74ae);
        
    
            var icon_baad42abfffdd770b876bba8c65aafad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_728bc7d8389183777157a01092ad028e.setIcon(icon_baad42abfffdd770b876bba8c65aafad);
        
    
        var popup_1e5e7f2a3b38ace77397df6db6c7ce01 = L.popup({"maxWidth": "100%"});

        
            
                var html_923ed9c5e476688d5256746dbd714f4f = $(`<div id="html_923ed9c5e476688d5256746dbd714f4f" style="width: 100.0%; height: 100.0%;">Cuauhtémoc</div>`)[0];
                popup_1e5e7f2a3b38ace77397df6db6c7ce01.setContent(html_923ed9c5e476688d5256746dbd714f4f);
            
        

        marker_728bc7d8389183777157a01092ad028e.bindPopup(popup_1e5e7f2a3b38ace77397df6db6c7ce01)
        ;

        
    
    
            var feature_group_d45d77d017facc33f742fa9d235790de = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_2aa5c67910492f9a7d398a9803a3855e = L.marker(
                [19.4237229457214, -99.1632608872129],
                {}
            ).addTo(feature_group_d45d77d017facc33f742fa9d235790de);
        
    
            var icon_8a2e361179d452a0ce2ac0e96e3f8ad0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2aa5c67910492f9a7d398a9803a3855e.setIcon(icon_8a2e361179d452a0ce2ac0e96e3f8ad0);
        
    
        var popup_5b493b7d3b797e2e0270603dc32040bb = L.popup({"maxWidth": "100%"});

        
            
                var html_6131da267344ac38743bf8633554ddd3 = $(`<div id="html_6131da267344ac38743bf8633554ddd3" style="width: 100.0%; height: 100.0%;">Insurgentes</div>`)[0];
                popup_5b493b7d3b797e2e0270603dc32040bb.setContent(html_6131da267344ac38743bf8633554ddd3);
            
        

        marker_2aa5c67910492f9a7d398a9803a3855e.bindPopup(popup_5b493b7d3b797e2e0270603dc32040bb)
        ;

        
    
    
            var feature_group_4b028512f3c8854b4b3a157882667a59 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_3a8465e465ab8d00ecbfb10180824e8c = L.marker(
                [19.4215373987659, -99.171189496944],
                {}
            ).addTo(feature_group_4b028512f3c8854b4b3a157882667a59);
        
    
            var icon_6c0eac4d8cfcbfa0e7373418def29e5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_3a8465e465ab8d00ecbfb10180824e8c.setIcon(icon_6c0eac4d8cfcbfa0e7373418def29e5d);
        
    
        var popup_e2f99e66c2e69a5d288e6d7000aa0846 = L.popup({"maxWidth": "100%"});

        
            
                var html_6247b243770691e394881cae2c46da5a = $(`<div id="html_6247b243770691e394881cae2c46da5a" style="width: 100.0%; height: 100.0%;">Sevilla</div>`)[0];
                popup_e2f99e66c2e69a5d288e6d7000aa0846.setContent(html_6247b243770691e394881cae2c46da5a);
            
        

        marker_3a8465e465ab8d00ecbfb10180824e8c.bindPopup(popup_e2f99e66c2e69a5d288e6d7000aa0846)
        ;

        
    
    
            var feature_group_b48bdd16e3e1c9ddf2f8ba05c1a26233 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_5442b3cc9c5f398889d53a390ca501fb = L.marker(
                [19.4205862719081, -99.1769401531288],
                {}
            ).addTo(feature_group_b48bdd16e3e1c9ddf2f8ba05c1a26233);
        
    
            var icon_31b7ccf0a6293ec8b76dc79b16af9e0f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_5442b3cc9c5f398889d53a390ca501fb.setIcon(icon_31b7ccf0a6293ec8b76dc79b16af9e0f);
        
    
        var popup_d197efe565dc985b453c0c3375a230c3 = L.popup({"maxWidth": "100%"});

        
            
                var html_a87513a51ec1ad80c863723ef71b36ab = $(`<div id="html_a87513a51ec1ad80c863723ef71b36ab" style="width: 100.0%; height: 100.0%;">Chapultepec</div>`)[0];
                popup_d197efe565dc985b453c0c3375a230c3.setContent(html_a87513a51ec1ad80c863723ef71b36ab);
            
        

        marker_5442b3cc9c5f398889d53a390ca501fb.bindPopup(popup_d197efe565dc985b453c0c3375a230c3)
        ;

        
    
    
            var feature_group_bd2aada20d1c9dade6494f7fa9da833e = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_beaad8398a7c2d233398d89716e4e82d = L.marker(
                [19.4128961059459, -99.1820256214357],
                {}
            ).addTo(feature_group_bd2aada20d1c9dade6494f7fa9da833e);
        
    
            var icon_19fa59d34417c397011fc3924c7fa367 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_beaad8398a7c2d233398d89716e4e82d.setIcon(icon_19fa59d34417c397011fc3924c7fa367);
        
    
        var popup_5a22f4b4a98d86f5e97ebaf656c8e5cd = L.popup({"maxWidth": "100%"});

        
            
                var html_bda709f2374e78490560dfa7d788bfaf = $(`<div id="html_bda709f2374e78490560dfa7d788bfaf" style="width: 100.0%; height: 100.0%;">Juanacatlán</div>`)[0];
                popup_5a22f4b4a98d86f5e97ebaf656c8e5cd.setContent(html_bda709f2374e78490560dfa7d788bfaf);
            
        

        marker_beaad8398a7c2d233398d89716e4e82d.bindPopup(popup_5a22f4b4a98d86f5e97ebaf656c8e5cd)
        ;

        
    
    
            var feature_group_50457d29d85ab95441cdfc5a4e25355a = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_2773bc51a51d615fa99be63f384302da = L.marker(
                [19.4019167516416, -99.187347124209],
                {}
            ).addTo(feature_group_50457d29d85ab95441cdfc5a4e25355a);
        
    
            var icon_bc7e3caec0cc912e72ae1c25f0166938 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2773bc51a51d615fa99be63f384302da.setIcon(icon_bc7e3caec0cc912e72ae1c25f0166938);
        
    
        var popup_2f5a73a5b94a59dfc5216dfcdc76c744 = L.popup({"maxWidth": "100%"});

        
            
                var html_d1d89e9caa993ca1ab9906e5379ed5e1 = $(`<div id="html_d1d89e9caa993ca1ab9906e5379ed5e1" style="width: 100.0%; height: 100.0%;">Tacubaya</div>`)[0];
                popup_2f5a73a5b94a59dfc5216dfcdc76c744.setContent(html_d1d89e9caa993ca1ab9906e5379ed5e1);
            
        

        marker_2773bc51a51d615fa99be63f384302da.bindPopup(popup_2f5a73a5b94a59dfc5216dfcdc76c744)
        ;

        
    
    
            var feature_group_1d2b3ccc2ace0a1501dbdc3cd409e6c6 = L.featureGroup(
                {}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    
            var marker_2636a8da0529b062ac8635b7433645d0 = L.marker(
                [19.3983546268065, -99.2005221347135],
                {}
            ).addTo(feature_group_1d2b3ccc2ace0a1501dbdc3cd409e6c6);
        
    
            var icon_9af46803a12ea90b4c099b1042e4c2fc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "pink", "prefix": "fa"}
            );
            marker_2636a8da0529b062ac8635b7433645d0.setIcon(icon_9af46803a12ea90b4c099b1042e4c2fc);
        
    
        var popup_9a1007ed68f4c85f081f1ab3d37e9581 = L.popup({"maxWidth": "100%"});

        
            
                var html_c14b573abe9d047e52832c7f44bec639 = $(`<div id="html_c14b573abe9d047e52832c7f44bec639" style="width: 100.0%; height: 100.0%;">Observatorio</div>`)[0];
                popup_9a1007ed68f4c85f081f1ab3d37e9581.setContent(html_c14b573abe9d047e52832c7f44bec639);
            
        

        marker_2636a8da0529b062ac8635b7433645d0.bindPopup(popup_9a1007ed68f4c85f081f1ab3d37e9581)
        ;

        
    
    
            var poly_line_f508ac4acf889d3b90eb8ac3ec526149 = L.polyline(
                [[19.4153411939961, -99.0742859007063], [19.4121526940305, -99.0825467969711], [19.4166353160295, -99.0900784397441], [19.4199845534132, -99.0962797070309], [19.4233741946482, -99.1026419066529], [19.4269357713719, -99.1098409556709], [19.4313168083262, -99.1141968631142], [19.4292932493898, -99.120913114534], [19.425559716937, -99.1251831913525], [19.4260352664792, -99.1330688858292], [19.4264399884029, -99.1378646754492], [19.4272797831817, -99.1421240234201], [19.4272291932659, -99.1489690208955], [19.4256912520391, -99.1544836425289], [19.4237229457214, -99.1632608872129], [19.4215373987659, -99.171189496944], [19.4205862719081, -99.1769401531288], [19.4128961059459, -99.1820256214357], [19.4019167516416, -99.187347124209], [19.3983546268065, -99.2005221347135]],
                {"bubblingMouseEvents": true, "color": "pink", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "pink", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_1d2b3ccc2ace0a1501dbdc3cd409e6c6);
        
    
            var layer_control_a050cbf7214d7ccb3b28bcd6221e86bf = {
                base_layers : {
                    "openstreetmap" : tile_layer_d886a8236671874654767b19a56b37ab,
                },
                overlays :  {
                    "Linea 1 (Observatorio Pantitl\u00e1n)" : feature_group_1d2b3ccc2ace0a1501dbdc3cd409e6c6,
                },
            };
            L.control.layers(
                layer_control_a050cbf7214d7ccb3b28bcd6221e86bf.base_layers,
                layer_control_a050cbf7214d7ccb3b28bcd6221e86bf.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);
        
    

            L.control.groupedLayers(
                null,
                {
                    "L\u00edneas Principales" : {
                    },
                    "L\u00edneas Anillares Interiores" : {
                    },
                    "L\u00edneas Inter-Urbanas" : {
                    },
                    "L\u00edneas Metrobus" : {
                        "Metrobus" : feature_group_c8ef8cd869976849000d5d286f273345,
                    },
                    "L\u00edneas Cabelbus" : {
                    },
                },
                {"exclusiveGroups": ["L\u00edneas Principales", "L\u00edneas Anillares Interiores", "L\u00edneas Inter-Urbanas", "L\u00edneas Metrobus", "L\u00edneas Cabelbus"]},
            ).addTo(map_2934995dcd9d5c8974ffaa98fb780323);

        
</script>
</html>