<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b081152204a07131fc925da4fe578ec0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b081152204a07131fc925da4fe578ec0" ></div>
        
</body>
<script>
    
    
            var map_b081152204a07131fc925da4fe578ec0 = L.map(
                "map_b081152204a07131fc925da4fe578ec0",
                {
                    center: [19.434430271379885, -99.13309144564224],
                    crs: L.CRS.EPSG3857,
                    zoom: 11.4,
                    zoomControl: true,
                    preferCanvas: false,
                    titles: "Map",
                }
            );

            

        
    
            var tile_layer_c6d573cae1106ea552ba821794ea79bd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b081152204a07131fc925da4fe578ec0);
        
    
            var feature_group_2349af33be43f59698a6ac1b036c8052 = L.featureGroup(
                {}
            ).addTo(map_b081152204a07131fc925da4fe578ec0);
        
    
            var marker_7d40a8f1197158555a1ff5c33e4fccdb = L.marker(
                [19.4499733822882, -99.1516296688688],
                {}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var icon_dcd9a1edbebf43ac345e149b805a8313 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_7d40a8f1197158555a1ff5c33e4fccdb.setIcon(icon_dcd9a1edbebf43ac345e149b805a8313);
        
    
        var popup_4d8572dfd6435616d53a3f7b5fcd0374 = L.popup({"maxWidth": "100%"});

        
            
                var html_50e04085b9a41cccb79e60e51994111f = $(`<div id="html_50e04085b9a41cccb79e60e51994111f" style="width: 100.0%; height: 100.0%;">BuenaVista</div>`)[0];
                popup_4d8572dfd6435616d53a3f7b5fcd0374.setContent(html_50e04085b9a41cccb79e60e51994111f);
            
        

        marker_7d40a8f1197158555a1ff5c33e4fccdb.bindPopup(popup_4d8572dfd6435616d53a3f7b5fcd0374)
        ;

        
    
    
            var marker_4c1c0c94a9e0feafc8963b95c8b11229 = L.marker(
                [19.4919905876639, -99.1710434158626],
                {}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var icon_323573cfbd4c14454bb1b5629c5527a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_4c1c0c94a9e0feafc8963b95c8b11229.setIcon(icon_323573cfbd4c14454bb1b5629c5527a1);
        
    
        var popup_2c7b3e437e3376f1e960797800d84047 = L.popup({"maxWidth": "100%"});

        
            
                var html_a6be01978d413a1486a453fcfcd49b24 = $(`<div id="html_a6be01978d413a1486a453fcfcd49b24" style="width: 100.0%; height: 100.0%;">Fortuna</div>`)[0];
                popup_2c7b3e437e3376f1e960797800d84047.setContent(html_a6be01978d413a1486a453fcfcd49b24);
            
        

        marker_4c1c0c94a9e0feafc8963b95c8b11229.bindPopup(popup_2c7b3e437e3376f1e960797800d84047)
        ;

        
    
    
            var marker_f10da60b92520335a7d9df67fc0adb53 = L.marker(
                [19.5371489669722, -99.1840599774596],
                {}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var icon_386a01585ba13842848a2f9462e9c440 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_f10da60b92520335a7d9df67fc0adb53.setIcon(icon_386a01585ba13842848a2f9462e9c440);
        
    
        var popup_932083c859310293509bfdf314723102 = L.popup({"maxWidth": "100%"});

        
            
                var html_332827cd822337aee6e7b8bfe7dd1079 = $(`<div id="html_332827cd822337aee6e7b8bfe7dd1079" style="width: 100.0%; height: 100.0%;">Tlanepantla</div>`)[0];
                popup_932083c859310293509bfdf314723102.setContent(html_332827cd822337aee6e7b8bfe7dd1079);
            
        

        marker_f10da60b92520335a7d9df67fc0adb53.bindPopup(popup_932083c859310293509bfdf314723102)
        ;

        
    
    
            var marker_633bc040d0edde9e06ec0074b92d5554 = L.marker(
                [19.566523519002, -99.194235330584],
                {}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var icon_1330f4088981b980278ffeec9fa69cec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_633bc040d0edde9e06ec0074b92d5554.setIcon(icon_1330f4088981b980278ffeec9fa69cec);
        
    
        var popup_10b6d05afcfd5ff4c558a2dfd5f481b4 = L.popup({"maxWidth": "100%"});

        
            
                var html_0b042b74372f3c53a5f31971ab6c94ef = $(`<div id="html_0b042b74372f3c53a5f31971ab6c94ef" style="width: 100.0%; height: 100.0%;">San Rafael</div>`)[0];
                popup_10b6d05afcfd5ff4c558a2dfd5f481b4.setContent(html_0b042b74372f3c53a5f31971ab6c94ef);
            
        

        marker_633bc040d0edde9e06ec0074b92d5554.bindPopup(popup_10b6d05afcfd5ff4c558a2dfd5f481b4)
        ;

        
    
    
            var marker_138b31ecaf99dc1d5fd24fe0869de6c6 = L.marker(
                [19.5998717066407, -99.1867858027663],
                {}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var icon_095b5dcfe79af346c2b6841044a3c4d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_138b31ecaf99dc1d5fd24fe0869de6c6.setIcon(icon_095b5dcfe79af346c2b6841044a3c4d8);
        
    
        var popup_b65538d7dba77b5f81d64d0d19190893 = L.popup({"maxWidth": "100%"});

        
            
                var html_085b64a813b5f87f3f436c18d1eea76e = $(`<div id="html_085b64a813b5f87f3f436c18d1eea76e" style="width: 100.0%; height: 100.0%;">Lechería</div>`)[0];
                popup_b65538d7dba77b5f81d64d0d19190893.setContent(html_085b64a813b5f87f3f436c18d1eea76e);
            
        

        marker_138b31ecaf99dc1d5fd24fe0869de6c6.bindPopup(popup_b65538d7dba77b5f81d64d0d19190893)
        ;

        
    
    
            var marker_c33cc0aa3f6fb3e3e812b5868ac2fbbe = L.marker(
                [19.6366354601818, -99.1803271059552],
                {}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var icon_46a12199e7f0a32f38c7eb85aa67a59e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_c33cc0aa3f6fb3e3e812b5868ac2fbbe.setIcon(icon_46a12199e7f0a32f38c7eb85aa67a59e);
        
    
        var popup_edf028a7034169aa98c9c98de8e6c48a = L.popup({"maxWidth": "100%"});

        
            
                var html_acec7edbfe3eb7015a3dce5d2d147810 = $(`<div id="html_acec7edbfe3eb7015a3dce5d2d147810" style="width: 100.0%; height: 100.0%;">Tultitlán</div>`)[0];
                popup_edf028a7034169aa98c9c98de8e6c48a.setContent(html_acec7edbfe3eb7015a3dce5d2d147810);
            
        

        marker_c33cc0aa3f6fb3e3e812b5868ac2fbbe.bindPopup(popup_edf028a7034169aa98c9c98de8e6c48a)
        ;

        
    
    
            var marker_6570a9247fed290fc8083cebfb0ab85a = L.marker(
                [19.6675375235718, -99.1761420782206],
                {}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var icon_91ab8608a4cbf626ac7a1d008b7b4865 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_6570a9247fed290fc8083cebfb0ab85a.setIcon(icon_91ab8608a4cbf626ac7a1d008b7b4865);
        
    
        var popup_427ec0823988bfd7735969917d9cce99 = L.popup({"maxWidth": "100%"});

        
            
                var html_e963a25dff0020015a162b3ac0b4479b = $(`<div id="html_e963a25dff0020015a162b3ac0b4479b" style="width: 100.0%; height: 100.0%;">Cuatitlán</div>`)[0];
                popup_427ec0823988bfd7735969917d9cce99.setContent(html_e963a25dff0020015a162b3ac0b4479b);
            
        

        marker_6570a9247fed290fc8083cebfb0ab85a.bindPopup(popup_427ec0823988bfd7735969917d9cce99)
        ;

        
    
    
            var poly_line_f70af6f92fbd5f858ad76d86bc0abe21 = L.polyline(
                [[19.4499733822882, -99.1516296688688], [19.4919905876639, -99.1710434158626], [19.5371489669722, -99.1840599774596], [19.566523519002, -99.194235330584], [19.5998717066407, -99.1867858027663], [19.6366354601818, -99.1803271059552], [19.6675375235718, -99.1761420782206]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6}
            ).addTo(feature_group_2349af33be43f59698a6ac1b036c8052);
        
    
            var feature_group_765bd7a501176cd4da3c13074cd20de7 = L.featureGroup(
                {}
            ).addTo(map_b081152204a07131fc925da4fe578ec0);
        
    
            var marker_769b4618462c0c370bf50f179cbf2ad4 = L.marker(
                [19.3984355079513, -99.2004023666071],
                {}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var icon_0ae34cd8b3cba5930eba8ccefb3f8bea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_769b4618462c0c370bf50f179cbf2ad4.setIcon(icon_0ae34cd8b3cba5930eba8ccefb3f8bea);
        
    
        var popup_07737816261caeedafff65841c0fecdf = L.popup({"maxWidth": "100%"});

        
            
                var html_3945834019b65626b944226b245805b4 = $(`<div id="html_3945834019b65626b944226b245805b4" style="width: 100.0%; height: 100.0%;">Observatorio</div>`)[0];
                popup_07737816261caeedafff65841c0fecdf.setContent(html_3945834019b65626b944226b245805b4);
            
        

        marker_769b4618462c0c370bf50f179cbf2ad4.bindPopup(popup_07737816261caeedafff65841c0fecdf)
        ;

        
    
    
            var marker_c742b34ac653d2aeecbbb8380c6c7806 = L.marker(
                [19.3849598478361, -99.227916419007],
                {}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var icon_14a70131683a0e13bb902ec93eb8f76d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_c742b34ac653d2aeecbbb8380c6c7806.setIcon(icon_14a70131683a0e13bb902ec93eb8f76d);
        
    
        var popup_1bc8aedcd2a6cfe84a327e3877c4c136 = L.popup({"maxWidth": "100%"});

        
            
                var html_65f4a799a407da71bd08b855fa9e8304 = $(`<div id="html_65f4a799a407da71bd08b855fa9e8304" style="width: 100.0%; height: 100.0%;">Vasco de Quiroga</div>`)[0];
                popup_1bc8aedcd2a6cfe84a327e3877c4c136.setContent(html_65f4a799a407da71bd08b855fa9e8304);
            
        

        marker_c742b34ac653d2aeecbbb8380c6c7806.bindPopup(popup_1bc8aedcd2a6cfe84a327e3877c4c136)
        ;

        
    
    
            var marker_fa3b03581848dd65056ddffd41fc86c2 = L.marker(
                [19.3639627735107, -99.2686240919612],
                {}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var icon_8888af61e7dba3136d05b4d27f18a635 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_fa3b03581848dd65056ddffd41fc86c2.setIcon(icon_8888af61e7dba3136d05b4d27f18a635);
        
    
        var popup_3a65b7d67c0270452f3890a0507fe76f = L.popup({"maxWidth": "100%"});

        
            
                var html_41c6bf04de23af1d74858e8ab939fbce = $(`<div id="html_41c6bf04de23af1d74858e8ab939fbce" style="width: 100.0%; height: 100.0%;">Santa Fé</div>`)[0];
                popup_3a65b7d67c0270452f3890a0507fe76f.setContent(html_41c6bf04de23af1d74858e8ab939fbce);
            
        

        marker_fa3b03581848dd65056ddffd41fc86c2.bindPopup(popup_3a65b7d67c0270452f3890a0507fe76f)
        ;

        
    
    
            var marker_e322f3591801e57c97192cb179c4add3 = L.marker(
                [19.2788307273733, -99.5144736129206],
                {}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var icon_55852e19666b3248b55d34eedae41410 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_e322f3591801e57c97192cb179c4add3.setIcon(icon_55852e19666b3248b55d34eedae41410);
        
    
        var popup_a74f13616504d602b318c6d0d5816f26 = L.popup({"maxWidth": "100%"});

        
            
                var html_82fda988437c758be7de64ead212d21c = $(`<div id="html_82fda988437c758be7de64ead212d21c" style="width: 100.0%; height: 100.0%;">Lerma</div>`)[0];
                popup_a74f13616504d602b318c6d0d5816f26.setContent(html_82fda988437c758be7de64ead212d21c);
            
        

        marker_e322f3591801e57c97192cb179c4add3.bindPopup(popup_a74f13616504d602b318c6d0d5816f26)
        ;

        
    
    
            var marker_41c719010ae32190847b61d9cc037022 = L.marker(
                [19.2777127912577, -99.5739727395649],
                {}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var icon_846e42b3ec6b28c0f8484c3c7e6cbd8e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_41c719010ae32190847b61d9cc037022.setIcon(icon_846e42b3ec6b28c0f8484c3c7e6cbd8e);
        
    
        var popup_76dab5b6fb58cce2091497fb5362116c = L.popup({"maxWidth": "100%"});

        
            
                var html_aa0fa82898366b4d2ddacc5cb6053d9f = $(`<div id="html_aa0fa82898366b4d2ddacc5cb6053d9f" style="width: 100.0%; height: 100.0%;">Tecnológico/Aeropuerto</div>`)[0];
                popup_76dab5b6fb58cce2091497fb5362116c.setContent(html_aa0fa82898366b4d2ddacc5cb6053d9f);
            
        

        marker_41c719010ae32190847b61d9cc037022.bindPopup(popup_76dab5b6fb58cce2091497fb5362116c)
        ;

        
    
    
            var marker_9def77aedcdecccb9280cfa212cb6344 = L.marker(
                [19.2704981209636, -99.6412531025291],
                {}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var icon_29fe1736ca69e0fa69383b3275f4737a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_9def77aedcdecccb9280cfa212cb6344.setIcon(icon_29fe1736ca69e0fa69383b3275f4737a);
        
    
        var popup_3b9a24203c3ca2ffadecbd74b644f06f = L.popup({"maxWidth": "100%"});

        
            
                var html_9a16ae18806e2d54a39685b2fcaf9ebe = $(`<div id="html_9a16ae18806e2d54a39685b2fcaf9ebe" style="width: 100.0%; height: 100.0%;">Pino Suárez</div>`)[0];
                popup_3b9a24203c3ca2ffadecbd74b644f06f.setContent(html_9a16ae18806e2d54a39685b2fcaf9ebe);
            
        

        marker_9def77aedcdecccb9280cfa212cb6344.bindPopup(popup_3b9a24203c3ca2ffadecbd74b644f06f)
        ;

        
    
    
            var marker_cf82dfadbc6c025389e6dd1a5a3158b0 = L.marker(
                [19.2803477690172, -99.6943664630372],
                {}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var icon_d6fcfb752a590bd6c9d5bb3d2fed9eeb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_cf82dfadbc6c025389e6dd1a5a3158b0.setIcon(icon_d6fcfb752a590bd6c9d5bb3d2fed9eeb);
        
    
        var popup_bd99dbc22965cd1cf3791016dad76993 = L.popup({"maxWidth": "100%"});

        
            
                var html_5896904beb20d996c72bc13fa2e8e8e2 = $(`<div id="html_5896904beb20d996c72bc13fa2e8e8e2" style="width: 100.0%; height: 100.0%;">Zincantepec</div>`)[0];
                popup_bd99dbc22965cd1cf3791016dad76993.setContent(html_5896904beb20d996c72bc13fa2e8e8e2);
            
        

        marker_cf82dfadbc6c025389e6dd1a5a3158b0.bindPopup(popup_bd99dbc22965cd1cf3791016dad76993)
        ;

        
    
    
            var poly_line_cf373b76ed5541c1276dc2225517203e = L.polyline(
                [[19.3984355079513, -99.2004023666071], [19.3849598478361, -99.227916419007], [19.3639627735107, -99.2686240919612], [19.2788307273733, -99.5144736129206], [19.2777127912577, -99.5739727395649], [19.2704981209636, -99.6412531025291], [19.2803477690172, -99.6943664630372]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6}
            ).addTo(feature_group_765bd7a501176cd4da3c13074cd20de7);
        
    
            var feature_group_3550bbc42cbcb11f07f2514f16805b94 = L.featureGroup(
                {}
            ).addTo(map_b081152204a07131fc925da4fe578ec0);
        
    
            var marker_1b5a78d373dded4d075b6c38cc78d714 = L.marker(
                [19.5993901787755, -99.1866105397135],
                {}
            ).addTo(feature_group_3550bbc42cbcb11f07f2514f16805b94);
        
    
            var icon_408e89d2555c34ff389213c34e906c5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_1b5a78d373dded4d075b6c38cc78d714.setIcon(icon_408e89d2555c34ff389213c34e906c5c);
        
    
        var popup_abec874cac73b8fe60c1d757628e6dfa = L.popup({"maxWidth": "100%"});

        
            
                var html_eef050e8225fdb28f9ede268b5f29cc4 = $(`<div id="html_eef050e8225fdb28f9ede268b5f29cc4" style="width: 100.0%; height: 100.0%;">Lechería</div>`)[0];
                popup_abec874cac73b8fe60c1d757628e6dfa.setContent(html_eef050e8225fdb28f9ede268b5f29cc4);
            
        

        marker_1b5a78d373dded4d075b6c38cc78d714.bindPopup(popup_abec874cac73b8fe60c1d757628e6dfa)
        ;

        
    
    
            var marker_3c2dc747a75bee8206e6195a494695e7 = L.marker(
                [19.632949390266, -99.1620556725949],
                {}
            ).addTo(feature_group_3550bbc42cbcb11f07f2514f16805b94);
        
    
            var icon_c887b59e390fd2d293a04bfaa243dee1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_3c2dc747a75bee8206e6195a494695e7.setIcon(icon_c887b59e390fd2d293a04bfaa243dee1);
        
    
        var popup_67ccf7aa41b2820f4ae11c1b40a9c14d = L.popup({"maxWidth": "100%"});

        
            
                var html_44cbab6d1918277e19918bb5172f8790 = $(`<div id="html_44cbab6d1918277e19918bb5172f8790" style="width: 100.0%; height: 100.0%;">Cueyamil</div>`)[0];
                popup_67ccf7aa41b2820f4ae11c1b40a9c14d.setContent(html_44cbab6d1918277e19918bb5172f8790);
            
        

        marker_3c2dc747a75bee8206e6195a494695e7.bindPopup(popup_67ccf7aa41b2820f4ae11c1b40a9c14d)
        ;

        
    
    
            var marker_d20104b74f50f2eb8efb61fbe12942ce = L.marker(
                [19.646522823467, -99.1458525844175],
                {}
            ).addTo(feature_group_3550bbc42cbcb11f07f2514f16805b94);
        
    
            var icon_302975d8c5b331e47e519a806f560aa9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_d20104b74f50f2eb8efb61fbe12942ce.setIcon(icon_302975d8c5b331e47e519a806f560aa9);
        
    
        var popup_551a105ecec87ff1480ea44a0e926521 = L.popup({"maxWidth": "100%"});

        
            
                var html_959419b1f2609887cb1982e6a59d1535 = $(`<div id="html_959419b1f2609887cb1982e6a59d1535" style="width: 100.0%; height: 100.0%;">Los Agaves</div>`)[0];
                popup_551a105ecec87ff1480ea44a0e926521.setContent(html_959419b1f2609887cb1982e6a59d1535);
            
        

        marker_d20104b74f50f2eb8efb61fbe12942ce.bindPopup(popup_551a105ecec87ff1480ea44a0e926521)
        ;

        
    
    
            var marker_bf096ade9f11310e5cc4e8ef86e9afde = L.marker(
                [19.7022270165225, -99.0817620548386],
                {}
            ).addTo(feature_group_3550bbc42cbcb11f07f2514f16805b94);
        
    
            var icon_748e6a318d8ade0ca7ced14f6eb1201d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_bf096ade9f11310e5cc4e8ef86e9afde.setIcon(icon_748e6a318d8ade0ca7ced14f6eb1201d);
        
    
        var popup_64846efe7fe88e10f6803d923d6a1eaa = L.popup({"maxWidth": "100%"});

        
            
                var html_c92421c62654d499c2baad60b542b494 = $(`<div id="html_c92421c62654d499c2baad60b542b494" style="width: 100.0%; height: 100.0%;">Nextlalpan</div>`)[0];
                popup_64846efe7fe88e10f6803d923d6a1eaa.setContent(html_c92421c62654d499c2baad60b542b494);
            
        

        marker_bf096ade9f11310e5cc4e8ef86e9afde.bindPopup(popup_64846efe7fe88e10f6803d923d6a1eaa)
        ;

        
    
    
            var marker_b565f2c55f2b0fe380d9d969b9d803c8 = L.marker(
                [19.7229223906005, -99.0575557095261],
                {}
            ).addTo(feature_group_3550bbc42cbcb11f07f2514f16805b94);
        
    
            var icon_f36a4fd109f01ef01ae4f2eb84938779 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_b565f2c55f2b0fe380d9d969b9d803c8.setIcon(icon_f36a4fd109f01ef01ae4f2eb84938779);
        
    
        var popup_f17d492298e15329eb691ff02d40ddbb = L.popup({"maxWidth": "100%"});

        
            
                var html_d9a2553c9f746850a83fc5de5a36a923 = $(`<div id="html_d9a2553c9f746850a83fc5de5a36a923" style="width: 100.0%; height: 100.0%;">Jaltocan</div>`)[0];
                popup_f17d492298e15329eb691ff02d40ddbb.setContent(html_d9a2553c9f746850a83fc5de5a36a923);
            
        

        marker_b565f2c55f2b0fe380d9d969b9d803c8.bindPopup(popup_f17d492298e15329eb691ff02d40ddbb)
        ;

        
    
    
            var marker_fdf142c310944cbcd749c85a1ea822fd = L.marker(
                [19.7356220265202, -99.0259414471466],
                {}
            ).addTo(feature_group_3550bbc42cbcb11f07f2514f16805b94);
        
    
            var icon_d76f333eb3ad1b7e00dd34841d31580d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_fdf142c310944cbcd749c85a1ea822fd.setIcon(icon_d76f333eb3ad1b7e00dd34841d31580d);
        
    
        var popup_f859206b120b0d257accf4b724c2d4ab = L.popup({"maxWidth": "100%"});

        
            
                var html_e1a7d5636322b633f3e4a733048597e8 = $(`<div id="html_e1a7d5636322b633f3e4a733048597e8" style="width: 100.0%; height: 100.0%;">AIFA</div>`)[0];
                popup_f859206b120b0d257accf4b724c2d4ab.setContent(html_e1a7d5636322b633f3e4a733048597e8);
            
        

        marker_fdf142c310944cbcd749c85a1ea822fd.bindPopup(popup_f859206b120b0d257accf4b724c2d4ab)
        ;

        
    
    
            var poly_line_59fddead78504440e0e37b8525695c53 = L.polyline(
                [[19.5993901787755, -99.1866105397135], [19.632949390266, -99.1620556725949], [19.646522823467, -99.1458525844175], [19.7022270165225, -99.0817620548386], [19.7229223906005, -99.0575557095261], [19.7356220265202, -99.0259414471466]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6}
            ).addTo(feature_group_3550bbc42cbcb11f07f2514f16805b94);
        
    
            var feature_group_eb45c013eeeabfc32a52a6d706d09eb6 = L.featureGroup(
                {}
            ).addTo(map_b081152204a07131fc925da4fe578ec0);
        
    
            var marker_171754ee4b4b9a483b813a286b2a1001 = L.marker(
                [19.1928136746947, -99.02285646865],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_fcbc12eec9b9b78b6a81f983dfe78739 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_171754ee4b4b9a483b813a286b2a1001.setIcon(icon_fcbc12eec9b9b78b6a81f983dfe78739);
        
    
        var popup_cb776f6152c3e94f94918709d16e82bc = L.popup({"maxWidth": "100%"});

        
            
                var html_e370eed441ef6ea67e4784fbc1369152 = $(`<div id="html_e370eed441ef6ea67e4784fbc1369152" style="width: 100.0%; height: 100.0%;">Villa Alta</div>`)[0];
                popup_cb776f6152c3e94f94918709d16e82bc.setContent(html_e370eed441ef6ea67e4784fbc1369152);
            
        

        marker_171754ee4b4b9a483b813a286b2a1001.bindPopup(popup_cb776f6152c3e94f94918709d16e82bc)
        ;

        
    
    
            var marker_e0227ad7d1b7410a98dbfedaf5dfb590 = L.marker(
                [19.1719330241731, -99.0035250215966],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_9f8ada534276c31cef751f9ee733105b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_e0227ad7d1b7410a98dbfedaf5dfb590.setIcon(icon_9f8ada534276c31cef751f9ee733105b);
        
    
        var popup_aff1f28fc947a74be8d6812b8198d0dd = L.popup({"maxWidth": "100%"});

        
            
                var html_3ecf9c61ed4d7dfe43c0245ea21012e1 = $(`<div id="html_3ecf9c61ed4d7dfe43c0245ea21012e1" style="width: 100.0%; height: 100.0%;">Santa Ana</div>`)[0];
                popup_aff1f28fc947a74be8d6812b8198d0dd.setContent(html_3ecf9c61ed4d7dfe43c0245ea21012e1);
            
        

        marker_e0227ad7d1b7410a98dbfedaf5dfb590.bindPopup(popup_aff1f28fc947a74be8d6812b8198d0dd)
        ;

        
    
    
            var marker_7bfebc7fb07d38db12d6c06277db0870 = L.marker(
                [19.1145403510756, -98.935911776218],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_6d4c0b847d22c7894aff6c3ca81484ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_7bfebc7fb07d38db12d6c06277db0870.setIcon(icon_6d4c0b847d22c7894aff6c3ca81484ce);
        
    
        var popup_fcc97775a5cd09f0c55b625445913a99 = L.popup({"maxWidth": "100%"});

        
            
                var html_67964f6a7afda5724f84f8832ccc2fde = $(`<div id="html_67964f6a7afda5724f84f8832ccc2fde" style="width: 100.0%; height: 100.0%;">La Quietitud</div>`)[0];
                popup_fcc97775a5cd09f0c55b625445913a99.setContent(html_67964f6a7afda5724f84f8832ccc2fde);
            
        

        marker_7bfebc7fb07d38db12d6c06277db0870.bindPopup(popup_fcc97775a5cd09f0c55b625445913a99)
        ;

        
    
    
            var marker_05fa337ca0b8ff4e640bf8eddd146a30 = L.marker(
                [19.0361589566321, -98.9401084153015],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_57999085a14e16b095e9c6a304fcba0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_05fa337ca0b8ff4e640bf8eddd146a30.setIcon(icon_57999085a14e16b095e9c6a304fcba0b);
        
    
        var popup_f88dce509ac59e4a239bd30c7b96e9b5 = L.popup({"maxWidth": "100%"});

        
            
                var html_7444371a19452dc53e7c669205b5c1d7 = $(`<div id="html_7444371a19452dc53e7c669205b5c1d7" style="width: 100.0%; height: 100.0%;">Felipe Neri</div>`)[0];
                popup_f88dce509ac59e4a239bd30c7b96e9b5.setContent(html_7444371a19452dc53e7c669205b5c1d7);
            
        

        marker_05fa337ca0b8ff4e640bf8eddd146a30.bindPopup(popup_f88dce509ac59e4a239bd30c7b96e9b5)
        ;

        
    
    
            var marker_a99a6f11a85059b5653b8db75138380d = L.marker(
                [19.0006411816147, -98.940799007594],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_c8d607f4f48c5dfb50476c21a0863591 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_a99a6f11a85059b5653b8db75138380d.setIcon(icon_c8d607f4f48c5dfb50476c21a0863591);
        
    
        var popup_8a4502a21806f6274001e5b005148ff5 = L.popup({"maxWidth": "100%"});

        
            
                var html_69e973187d4546ef070fd194aaaad576 = $(`<div id="html_69e973187d4546ef070fd194aaaad576" style="width: 100.0%; height: 100.0%;">Nepopualco</div>`)[0];
                popup_8a4502a21806f6274001e5b005148ff5.setContent(html_69e973187d4546ef070fd194aaaad576);
            
        

        marker_a99a6f11a85059b5653b8db75138380d.bindPopup(popup_8a4502a21806f6274001e5b005148ff5)
        ;

        
    
    
            var marker_c24669d7645c69c47a209013185d88fe = L.marker(
                [18.9821225468375, -98.9261703562692],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_3acc51ca68b988dfef0379ad08abfffd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_c24669d7645c69c47a209013185d88fe.setIcon(icon_3acc51ca68b988dfef0379ad08abfffd);
        
    
        var popup_cbc9e2d5b8310b8230a91ff70bf2ef0e = L.popup({"maxWidth": "100%"});

        
            
                var html_1c7df052c5acda442c74f6828af60692 = $(`<div id="html_1c7df052c5acda442c74f6828af60692" style="width: 100.0%; height: 100.0%;">Totoloapan</div>`)[0];
                popup_cbc9e2d5b8310b8230a91ff70bf2ef0e.setContent(html_1c7df052c5acda442c74f6828af60692);
            
        

        marker_c24669d7645c69c47a209013185d88fe.bindPopup(popup_cbc9e2d5b8310b8230a91ff70bf2ef0e)
        ;

        
    
    
            var marker_80bfb58f28357bdb04b21c4926843681 = L.marker(
                [18.9498238507384, -98.9791907734195],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_99fdc67d4f6e4719a3e9d634c0f798ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_80bfb58f28357bdb04b21c4926843681.setIcon(icon_99fdc67d4f6e4719a3e9d634c0f798ad);
        
    
        var popup_ae0943e3d85e4c726ae2fe4e0f12b6e8 = L.popup({"maxWidth": "100%"});

        
            
                var html_a1d93f19cd91195aafd327cdf92b87cc = $(`<div id="html_a1d93f19cd91195aafd327cdf92b87cc" style="width: 100.0%; height: 100.0%;">Tlayacapan</div>`)[0];
                popup_ae0943e3d85e4c726ae2fe4e0f12b6e8.setContent(html_a1d93f19cd91195aafd327cdf92b87cc);
            
        

        marker_80bfb58f28357bdb04b21c4926843681.bindPopup(popup_ae0943e3d85e4c726ae2fe4e0f12b6e8)
        ;

        
    
    
            var marker_a7bdc198e801c270e30409d58f67bb15 = L.marker(
                [18.9120009439869, -98.9720750260755],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_0cf9f863cd41fedfadb9a8864ebe5413 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_a7bdc198e801c270e30409d58f67bb15.setIcon(icon_0cf9f863cd41fedfadb9a8864ebe5413);
        
    
        var popup_7f4516df1eb65486dd5f181e1a3d5691 = L.popup({"maxWidth": "100%"});

        
            
                var html_efc5a74201a3aa526bfb1851cff57a79 = $(`<div id="html_efc5a74201a3aa526bfb1851cff57a79" style="width: 100.0%; height: 100.0%;">Oaxtepec</div>`)[0];
                popup_7f4516df1eb65486dd5f181e1a3d5691.setContent(html_efc5a74201a3aa526bfb1851cff57a79);
            
        

        marker_a7bdc198e801c270e30409d58f67bb15.bindPopup(popup_7f4516df1eb65486dd5f181e1a3d5691)
        ;

        
    
    
            var marker_07fca4d35a8bf21e6841d6252f888b42 = L.marker(
                [18.8822914333589, -98.9849871314571],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_9ea931e9a0050fdeffbf07c0f2caa132 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_07fca4d35a8bf21e6841d6252f888b42.setIcon(icon_9ea931e9a0050fdeffbf07c0f2caa132);
        
    
        var popup_4880c06ff6bf26261cb994522ad5d6da = L.popup({"maxWidth": "100%"});

        
            
                var html_6592593eff5d3725cfdf5d8045587ac5 = $(`<div id="html_6592593eff5d3725cfdf5d8045587ac5" style="width: 100.0%; height: 100.0%;">Cocoyoc</div>`)[0];
                popup_4880c06ff6bf26261cb994522ad5d6da.setContent(html_6592593eff5d3725cfdf5d8045587ac5);
            
        

        marker_07fca4d35a8bf21e6841d6252f888b42.bindPopup(popup_4880c06ff6bf26261cb994522ad5d6da)
        ;

        
    
    
            var marker_7f4f2791aa12e87f5fdbcbaa74680697 = L.marker(
                [18.8525152125409, -98.9361297544955],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_1635cf5b309f209c6af66d11ddaecb33 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_7f4f2791aa12e87f5fdbcbaa74680697.setIcon(icon_1635cf5b309f209c6af66d11ddaecb33);
        
    
        var popup_6d874f35e9c066d89a6628c9342f0315 = L.popup({"maxWidth": "100%"});

        
            
                var html_e5b3c102f8dbefd03974d9aaad7731ee = $(`<div id="html_e5b3c102f8dbefd03974d9aaad7731ee" style="width: 100.0%; height: 100.0%;">Cuatlixco</div>`)[0];
                popup_6d874f35e9c066d89a6628c9342f0315.setContent(html_e5b3c102f8dbefd03974d9aaad7731ee);
            
        

        marker_7f4f2791aa12e87f5fdbcbaa74680697.bindPopup(popup_6d874f35e9c066d89a6628c9342f0315)
        ;

        
    
    
            var marker_2a7af69c56823fadf8e47f4cd917f98e = L.marker(
                [18.8173337019107, -98.9539953653986],
                {}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var icon_2e8fe337825f965337382667bef277f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_2a7af69c56823fadf8e47f4cd917f98e.setIcon(icon_2e8fe337825f965337382667bef277f8);
        
    
        var popup_4db70615fdf6610eb906626a9064d60f = L.popup({"maxWidth": "100%"});

        
            
                var html_689c16b61581a4444f2721bf0a5372df = $(`<div id="html_689c16b61581a4444f2721bf0a5372df" style="width: 100.0%; height: 100.0%;">Cuautla</div>`)[0];
                popup_4db70615fdf6610eb906626a9064d60f.setContent(html_689c16b61581a4444f2721bf0a5372df);
            
        

        marker_2a7af69c56823fadf8e47f4cd917f98e.bindPopup(popup_4db70615fdf6610eb906626a9064d60f)
        ;

        
    
    
            var poly_line_16d59f290b08c563932d0bae233d9687 = L.polyline(
                [[19.1928136746947, -99.02285646865], [19.1719330241731, -99.0035250215966], [19.1145403510756, -98.935911776218], [19.0361589566321, -98.9401084153015], [19.0006411816147, -98.940799007594], [18.9821225468375, -98.9261703562692], [18.9498238507384, -98.9791907734195], [18.9120009439869, -98.9720750260755], [18.8822914333589, -98.9849871314571], [18.8525152125409, -98.9361297544955], [18.8173337019107, -98.9539953653986]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6}
            ).addTo(feature_group_eb45c013eeeabfc32a52a6d706d09eb6);
        
    
            var layer_control_a59a6ec9d4f439765baca7c1f693beeb = {
                base_layers : {
                    "openstreetmap" : tile_layer_c6d573cae1106ea552ba821794ea79bd,
                },
                overlays :  {
                    "Suburbano L1" : feature_group_2349af33be43f59698a6ac1b036c8052,
                    "Suburbano L2" : feature_group_765bd7a501176cd4da3c13074cd20de7,
                    "Suburbano L1 - Ramal B" : feature_group_3550bbc42cbcb11f07f2514f16805b94,
                    "Suburbano L3" : feature_group_eb45c013eeeabfc32a52a6d706d09eb6,
                },
            };
            L.control.layers(
                layer_control_a59a6ec9d4f439765baca7c1f693beeb.base_layers,
                layer_control_a59a6ec9d4f439765baca7c1f693beeb.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_b081152204a07131fc925da4fe578ec0);
        
</script>
</html>