<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_70ccb99104643824ec7ff6b1beaa8f1d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_70ccb99104643824ec7ff6b1beaa8f1d" ></div>
        
</body>
<script>
    
    
            var map_70ccb99104643824ec7ff6b1beaa8f1d = L.map(
                "map_70ccb99104643824ec7ff6b1beaa8f1d",
                {
                    center: [19.434430271379885, -99.13309144564224],
                    crs: L.CRS.EPSG3857,
                    zoom: 11.4,
                    zoomControl: true,
                    preferCanvas: false,
                    titles: "Map",
                }
            );

            

        
    
            var tile_layer_097ff536b1817568faba70d0dec20c68 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_70ccb99104643824ec7ff6b1beaa8f1d);
        
    
            var feature_group_b54d5a010ab7d5d818e4ba2da8ce8595 = L.featureGroup(
                {}
            ).addTo(map_70ccb99104643824ec7ff6b1beaa8f1d);
        
    
            var marker_9003095bfe62b04f2660cbd9d36f2d97 = L.marker(
                [19.4499733822882, -99.1516296688688],
                {}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var icon_6066a2971b37b3cce79d7aff62574891 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_9003095bfe62b04f2660cbd9d36f2d97.setIcon(icon_6066a2971b37b3cce79d7aff62574891);
        
    
        var popup_584dab18e1cd4a27cfffbf956ad818f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_7d3688d43d5a540df601d1cb703866e3 = $(`<div id="html_7d3688d43d5a540df601d1cb703866e3" style="width: 100.0%; height: 100.0%;">BuenaVista</div>`)[0];
                popup_584dab18e1cd4a27cfffbf956ad818f0.setContent(html_7d3688d43d5a540df601d1cb703866e3);
            
        

        marker_9003095bfe62b04f2660cbd9d36f2d97.bindPopup(popup_584dab18e1cd4a27cfffbf956ad818f0)
        ;

        
    
    
            var marker_5b20e26d32c3671a16663b58f9a92160 = L.marker(
                [19.4919905876639, -99.1710434158626],
                {}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var icon_a7e155333c141791bbaa573d241cef8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_5b20e26d32c3671a16663b58f9a92160.setIcon(icon_a7e155333c141791bbaa573d241cef8c);
        
    
        var popup_19d5c63675bb3a1a8adcaa84ce987cb9 = L.popup({"maxWidth": "100%"});

        
            
                var html_b41dd7ce878404f916e75553d9dba0f5 = $(`<div id="html_b41dd7ce878404f916e75553d9dba0f5" style="width: 100.0%; height: 100.0%;">Fortuna</div>`)[0];
                popup_19d5c63675bb3a1a8adcaa84ce987cb9.setContent(html_b41dd7ce878404f916e75553d9dba0f5);
            
        

        marker_5b20e26d32c3671a16663b58f9a92160.bindPopup(popup_19d5c63675bb3a1a8adcaa84ce987cb9)
        ;

        
    
    
            var marker_d06df06d57710afc31147949aa1a2cc9 = L.marker(
                [19.5371489669722, -99.1840599774596],
                {}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var icon_b9ac3d6192434158206d0e06ebf4e013 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_d06df06d57710afc31147949aa1a2cc9.setIcon(icon_b9ac3d6192434158206d0e06ebf4e013);
        
    
        var popup_646bd5e36c51790bf93982b77ef01aa5 = L.popup({"maxWidth": "100%"});

        
            
                var html_993f02fb2d625f769b7662f11c1cf73c = $(`<div id="html_993f02fb2d625f769b7662f11c1cf73c" style="width: 100.0%; height: 100.0%;">Tlanepantla</div>`)[0];
                popup_646bd5e36c51790bf93982b77ef01aa5.setContent(html_993f02fb2d625f769b7662f11c1cf73c);
            
        

        marker_d06df06d57710afc31147949aa1a2cc9.bindPopup(popup_646bd5e36c51790bf93982b77ef01aa5)
        ;

        
    
    
            var marker_c694b232f6d9e8ec3168f3e3ffa304af = L.marker(
                [19.566523519002, -99.194235330584],
                {}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var icon_b034c4526d9cbc715ece38d2e0c4deb9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_c694b232f6d9e8ec3168f3e3ffa304af.setIcon(icon_b034c4526d9cbc715ece38d2e0c4deb9);
        
    
        var popup_1e156bb9cd8c10e33dc4c29445b01417 = L.popup({"maxWidth": "100%"});

        
            
                var html_936a822d2a2753a30523b83a560569bf = $(`<div id="html_936a822d2a2753a30523b83a560569bf" style="width: 100.0%; height: 100.0%;">San Rafael</div>`)[0];
                popup_1e156bb9cd8c10e33dc4c29445b01417.setContent(html_936a822d2a2753a30523b83a560569bf);
            
        

        marker_c694b232f6d9e8ec3168f3e3ffa304af.bindPopup(popup_1e156bb9cd8c10e33dc4c29445b01417)
        ;

        
    
    
            var marker_b45938f7a87d550792d2f2d6edb68034 = L.marker(
                [19.5998717066407, -99.1867858027663],
                {}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var icon_428248f8374a680c3f8f2d651fc865a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_b45938f7a87d550792d2f2d6edb68034.setIcon(icon_428248f8374a680c3f8f2d651fc865a1);
        
    
        var popup_a37a7706b9d494dc14dab2f553ed306e = L.popup({"maxWidth": "100%"});

        
            
                var html_8f72d638dc1872ef334efd503ec08959 = $(`<div id="html_8f72d638dc1872ef334efd503ec08959" style="width: 100.0%; height: 100.0%;">Lechería</div>`)[0];
                popup_a37a7706b9d494dc14dab2f553ed306e.setContent(html_8f72d638dc1872ef334efd503ec08959);
            
        

        marker_b45938f7a87d550792d2f2d6edb68034.bindPopup(popup_a37a7706b9d494dc14dab2f553ed306e)
        ;

        
    
    
            var marker_34e908c8a220735b3fbe119d1f238bea = L.marker(
                [19.6366354601818, -99.1803271059552],
                {}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var icon_2d4d7c29cc6c80021a65cdd2f3b1454e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_34e908c8a220735b3fbe119d1f238bea.setIcon(icon_2d4d7c29cc6c80021a65cdd2f3b1454e);
        
    
        var popup_83b0f30c140f89560260824e7423190f = L.popup({"maxWidth": "100%"});

        
            
                var html_b5a57f806224378376c411f840e7c1b0 = $(`<div id="html_b5a57f806224378376c411f840e7c1b0" style="width: 100.0%; height: 100.0%;">Tultitlán</div>`)[0];
                popup_83b0f30c140f89560260824e7423190f.setContent(html_b5a57f806224378376c411f840e7c1b0);
            
        

        marker_34e908c8a220735b3fbe119d1f238bea.bindPopup(popup_83b0f30c140f89560260824e7423190f)
        ;

        
    
    
            var marker_729507dabf71ecd0e60da0c13d16487b = L.marker(
                [19.6675375235718, -99.1761420782206],
                {}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var icon_6ec8b052b51bfd2080906e60f8738dac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_729507dabf71ecd0e60da0c13d16487b.setIcon(icon_6ec8b052b51bfd2080906e60f8738dac);
        
    
        var popup_e0a1db5c481c0225a0a56c98039ca183 = L.popup({"maxWidth": "100%"});

        
            
                var html_f0550bffe7f1bf6b7517da51096175e6 = $(`<div id="html_f0550bffe7f1bf6b7517da51096175e6" style="width: 100.0%; height: 100.0%;">Cuatitlán</div>`)[0];
                popup_e0a1db5c481c0225a0a56c98039ca183.setContent(html_f0550bffe7f1bf6b7517da51096175e6);
            
        

        marker_729507dabf71ecd0e60da0c13d16487b.bindPopup(popup_e0a1db5c481c0225a0a56c98039ca183)
        ;

        
    
    
            var poly_line_67e8347d2b17b2d685a01edf412b15bd = L.polyline(
                [[19.4499733822882, -99.1516296688688], [19.4919905876639, -99.1710434158626], [19.5371489669722, -99.1840599774596], [19.566523519002, -99.194235330584], [19.5998717066407, -99.1867858027663], [19.6366354601818, -99.1803271059552], [19.6675375235718, -99.1761420782206]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_b54d5a010ab7d5d818e4ba2da8ce8595);
        
    
            var feature_group_b6768a3f4208db408fe58e315c8d0b2c = L.featureGroup(
                {}
            ).addTo(map_70ccb99104643824ec7ff6b1beaa8f1d);
        
    
            var marker_22f2867a166a38b23db97afc7cb6e049 = L.marker(
                [19.3984355079513, -99.2004023666071],
                {}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var icon_9c8dbd90254df06487ab09ac97eee61d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_22f2867a166a38b23db97afc7cb6e049.setIcon(icon_9c8dbd90254df06487ab09ac97eee61d);
        
    
        var popup_21d4e55e451d742de1505c7f991c8e5a = L.popup({"maxWidth": "100%"});

        
            
                var html_5e963efe99bb0839d87135dc2eeac4a6 = $(`<div id="html_5e963efe99bb0839d87135dc2eeac4a6" style="width: 100.0%; height: 100.0%;">Observatorio</div>`)[0];
                popup_21d4e55e451d742de1505c7f991c8e5a.setContent(html_5e963efe99bb0839d87135dc2eeac4a6);
            
        

        marker_22f2867a166a38b23db97afc7cb6e049.bindPopup(popup_21d4e55e451d742de1505c7f991c8e5a)
        ;

        
    
    
            var marker_7a55c0ab5072dcd57e87417f5d05f02a = L.marker(
                [19.3849598478361, -99.227916419007],
                {}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var icon_1e8bdb7a31c15b07ba60523d373bcb80 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_7a55c0ab5072dcd57e87417f5d05f02a.setIcon(icon_1e8bdb7a31c15b07ba60523d373bcb80);
        
    
        var popup_61e1f0d32b232423be9d2a2571910cff = L.popup({"maxWidth": "100%"});

        
            
                var html_3c9407f6366aeb827db54e4cc9e762a9 = $(`<div id="html_3c9407f6366aeb827db54e4cc9e762a9" style="width: 100.0%; height: 100.0%;">Vasco de Quiroga</div>`)[0];
                popup_61e1f0d32b232423be9d2a2571910cff.setContent(html_3c9407f6366aeb827db54e4cc9e762a9);
            
        

        marker_7a55c0ab5072dcd57e87417f5d05f02a.bindPopup(popup_61e1f0d32b232423be9d2a2571910cff)
        ;

        
    
    
            var marker_3b79a8a6ef67e0bf25bdbbf9125e2537 = L.marker(
                [19.3639627735107, -99.2686240919612],
                {}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var icon_23420fcd0b69322289a620519361b0a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_3b79a8a6ef67e0bf25bdbbf9125e2537.setIcon(icon_23420fcd0b69322289a620519361b0a0);
        
    
        var popup_3ce057aeb0e5c9125a9646f96ebed966 = L.popup({"maxWidth": "100%"});

        
            
                var html_3fbb03a977a517d6b83e45af1c4af2e9 = $(`<div id="html_3fbb03a977a517d6b83e45af1c4af2e9" style="width: 100.0%; height: 100.0%;">Santa Fé</div>`)[0];
                popup_3ce057aeb0e5c9125a9646f96ebed966.setContent(html_3fbb03a977a517d6b83e45af1c4af2e9);
            
        

        marker_3b79a8a6ef67e0bf25bdbbf9125e2537.bindPopup(popup_3ce057aeb0e5c9125a9646f96ebed966)
        ;

        
    
    
            var marker_f4882bbe1df297e72854fa5db0054295 = L.marker(
                [19.2788307273733, -99.5144736129206],
                {}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var icon_cc91839c8232e96c6c0f9225fafcfb3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_f4882bbe1df297e72854fa5db0054295.setIcon(icon_cc91839c8232e96c6c0f9225fafcfb3a);
        
    
        var popup_32594a27772d6da303eff1de73d334bf = L.popup({"maxWidth": "100%"});

        
            
                var html_661c89f5f3e0ef5e1f0e81848f84f7dd = $(`<div id="html_661c89f5f3e0ef5e1f0e81848f84f7dd" style="width: 100.0%; height: 100.0%;">Lerma</div>`)[0];
                popup_32594a27772d6da303eff1de73d334bf.setContent(html_661c89f5f3e0ef5e1f0e81848f84f7dd);
            
        

        marker_f4882bbe1df297e72854fa5db0054295.bindPopup(popup_32594a27772d6da303eff1de73d334bf)
        ;

        
    
    
            var marker_bb7c970b7373d2be529c1c17e5b98b64 = L.marker(
                [19.2777127912577, -99.5739727395649],
                {}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var icon_eef9cc8019b40dddfd7bd056b410735c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_bb7c970b7373d2be529c1c17e5b98b64.setIcon(icon_eef9cc8019b40dddfd7bd056b410735c);
        
    
        var popup_9b6fa09153b256b2a38a6e2a31163000 = L.popup({"maxWidth": "100%"});

        
            
                var html_e66f02aec8f7da6a899d712384c1d169 = $(`<div id="html_e66f02aec8f7da6a899d712384c1d169" style="width: 100.0%; height: 100.0%;">Tecnológico/Aeropuerto</div>`)[0];
                popup_9b6fa09153b256b2a38a6e2a31163000.setContent(html_e66f02aec8f7da6a899d712384c1d169);
            
        

        marker_bb7c970b7373d2be529c1c17e5b98b64.bindPopup(popup_9b6fa09153b256b2a38a6e2a31163000)
        ;

        
    
    
            var marker_20e7cff034b0a705fc588846a381285c = L.marker(
                [19.2704981209636, -99.6412531025291],
                {}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var icon_0630ff5ac61ba30363e13a41cc2114e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_20e7cff034b0a705fc588846a381285c.setIcon(icon_0630ff5ac61ba30363e13a41cc2114e2);
        
    
        var popup_5309ffd42d07c4c7e907e790b44ca119 = L.popup({"maxWidth": "100%"});

        
            
                var html_0a822b3063e3f61b0c80edb0afd0cf06 = $(`<div id="html_0a822b3063e3f61b0c80edb0afd0cf06" style="width: 100.0%; height: 100.0%;">Pino Suárez</div>`)[0];
                popup_5309ffd42d07c4c7e907e790b44ca119.setContent(html_0a822b3063e3f61b0c80edb0afd0cf06);
            
        

        marker_20e7cff034b0a705fc588846a381285c.bindPopup(popup_5309ffd42d07c4c7e907e790b44ca119)
        ;

        
    
    
            var marker_60d5bc0edd616f207df5535322e1555d = L.marker(
                [19.2803477690172, -99.6943664630372],
                {}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var icon_359c07243895bf8daec7d2d5f2747b8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_60d5bc0edd616f207df5535322e1555d.setIcon(icon_359c07243895bf8daec7d2d5f2747b8c);
        
    
        var popup_e35e3f3615b378d75a78e8db316d30e5 = L.popup({"maxWidth": "100%"});

        
            
                var html_2b6cf8d814f99e8d2a200f36ec549d76 = $(`<div id="html_2b6cf8d814f99e8d2a200f36ec549d76" style="width: 100.0%; height: 100.0%;">Zincantepec</div>`)[0];
                popup_e35e3f3615b378d75a78e8db316d30e5.setContent(html_2b6cf8d814f99e8d2a200f36ec549d76);
            
        

        marker_60d5bc0edd616f207df5535322e1555d.bindPopup(popup_e35e3f3615b378d75a78e8db316d30e5)
        ;

        
    
    
            var poly_line_7e8a759e7f0a73f58814a6b224bd1545 = L.polyline(
                [[19.3984355079513, -99.2004023666071], [19.3849598478361, -99.227916419007], [19.3639627735107, -99.2686240919612], [19.2788307273733, -99.5144736129206], [19.2777127912577, -99.5739727395649], [19.2704981209636, -99.6412531025291], [19.2803477690172, -99.6943664630372]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_b6768a3f4208db408fe58e315c8d0b2c);
        
    
            var feature_group_ead4c3ab7e1dd11a69cc70b225422588 = L.featureGroup(
                {}
            ).addTo(map_70ccb99104643824ec7ff6b1beaa8f1d);
        
    
            var marker_bac8948aae8bcb80735e73acb17a125a = L.marker(
                [19.5993901787755, -99.1866105397135],
                {}
            ).addTo(feature_group_ead4c3ab7e1dd11a69cc70b225422588);
        
    
            var icon_221bbd057af6f5814ace015278a7b8b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_bac8948aae8bcb80735e73acb17a125a.setIcon(icon_221bbd057af6f5814ace015278a7b8b0);
        
    
        var popup_b719b8d4d442e8015b7d9993f2cf5d6e = L.popup({"maxWidth": "100%"});

        
            
                var html_50df52be9eff89818c6feffe46aa650f = $(`<div id="html_50df52be9eff89818c6feffe46aa650f" style="width: 100.0%; height: 100.0%;">Lechería</div>`)[0];
                popup_b719b8d4d442e8015b7d9993f2cf5d6e.setContent(html_50df52be9eff89818c6feffe46aa650f);
            
        

        marker_bac8948aae8bcb80735e73acb17a125a.bindPopup(popup_b719b8d4d442e8015b7d9993f2cf5d6e)
        ;

        
    
    
            var marker_029a4acb55c77e11e303049ba072ec69 = L.marker(
                [19.632949390266, -99.1620556725949],
                {}
            ).addTo(feature_group_ead4c3ab7e1dd11a69cc70b225422588);
        
    
            var icon_6310257a6676717201e19320d7ecf930 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_029a4acb55c77e11e303049ba072ec69.setIcon(icon_6310257a6676717201e19320d7ecf930);
        
    
        var popup_45b61f1908e5babaa3187f5cb7c298c5 = L.popup({"maxWidth": "100%"});

        
            
                var html_fd916c6284cced9ad0962c57c7daad69 = $(`<div id="html_fd916c6284cced9ad0962c57c7daad69" style="width: 100.0%; height: 100.0%;">Cueyamil</div>`)[0];
                popup_45b61f1908e5babaa3187f5cb7c298c5.setContent(html_fd916c6284cced9ad0962c57c7daad69);
            
        

        marker_029a4acb55c77e11e303049ba072ec69.bindPopup(popup_45b61f1908e5babaa3187f5cb7c298c5)
        ;

        
    
    
            var marker_9c0fd966450b4011f79a1a2cc835e94c = L.marker(
                [19.646522823467, -99.1458525844175],
                {}
            ).addTo(feature_group_ead4c3ab7e1dd11a69cc70b225422588);
        
    
            var icon_ee48edce2bc74247378846aabb627aa2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_9c0fd966450b4011f79a1a2cc835e94c.setIcon(icon_ee48edce2bc74247378846aabb627aa2);
        
    
        var popup_a9aa4b636f7ae45c6c10f9ed54d61832 = L.popup({"maxWidth": "100%"});

        
            
                var html_7f61d6922020a9ffa51d8a0d8d8348d2 = $(`<div id="html_7f61d6922020a9ffa51d8a0d8d8348d2" style="width: 100.0%; height: 100.0%;">Los Agaves</div>`)[0];
                popup_a9aa4b636f7ae45c6c10f9ed54d61832.setContent(html_7f61d6922020a9ffa51d8a0d8d8348d2);
            
        

        marker_9c0fd966450b4011f79a1a2cc835e94c.bindPopup(popup_a9aa4b636f7ae45c6c10f9ed54d61832)
        ;

        
    
    
            var marker_4bcad4c1f1961c579105340c8a8d76cd = L.marker(
                [19.7022270165225, -99.0817620548386],
                {}
            ).addTo(feature_group_ead4c3ab7e1dd11a69cc70b225422588);
        
    
            var icon_71791db19423ce903c2dc227f114a725 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_4bcad4c1f1961c579105340c8a8d76cd.setIcon(icon_71791db19423ce903c2dc227f114a725);
        
    
        var popup_b7153000b2bff8bf03eac4f87fdc3ce4 = L.popup({"maxWidth": "100%"});

        
            
                var html_15e2f9879c2da8e366a2be4cba8f1df0 = $(`<div id="html_15e2f9879c2da8e366a2be4cba8f1df0" style="width: 100.0%; height: 100.0%;">Nextlalpan</div>`)[0];
                popup_b7153000b2bff8bf03eac4f87fdc3ce4.setContent(html_15e2f9879c2da8e366a2be4cba8f1df0);
            
        

        marker_4bcad4c1f1961c579105340c8a8d76cd.bindPopup(popup_b7153000b2bff8bf03eac4f87fdc3ce4)
        ;

        
    
    
            var marker_d5bc733aac400e1defc6dd7f09afba7e = L.marker(
                [19.7229223906005, -99.0575557095261],
                {}
            ).addTo(feature_group_ead4c3ab7e1dd11a69cc70b225422588);
        
    
            var icon_fc9c8bcc788e2b5e5b010b93a11550ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_d5bc733aac400e1defc6dd7f09afba7e.setIcon(icon_fc9c8bcc788e2b5e5b010b93a11550ef);
        
    
        var popup_24e13af279ffc42f5484a4172d46b8e6 = L.popup({"maxWidth": "100%"});

        
            
                var html_fab2860b2c835875320240bebb19ddd4 = $(`<div id="html_fab2860b2c835875320240bebb19ddd4" style="width: 100.0%; height: 100.0%;">Jaltocan</div>`)[0];
                popup_24e13af279ffc42f5484a4172d46b8e6.setContent(html_fab2860b2c835875320240bebb19ddd4);
            
        

        marker_d5bc733aac400e1defc6dd7f09afba7e.bindPopup(popup_24e13af279ffc42f5484a4172d46b8e6)
        ;

        
    
    
            var marker_fc085563daf6151bdb083f1293b06277 = L.marker(
                [19.7356220265202, -99.0259414471466],
                {}
            ).addTo(feature_group_ead4c3ab7e1dd11a69cc70b225422588);
        
    
            var icon_f01ea7248d89c9782324df7aeaf50637 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_fc085563daf6151bdb083f1293b06277.setIcon(icon_f01ea7248d89c9782324df7aeaf50637);
        
    
        var popup_e1bf42416d7b624ab31f1943544da0b5 = L.popup({"maxWidth": "100%"});

        
            
                var html_e11449e3f33fff59989d2e554c0be74c = $(`<div id="html_e11449e3f33fff59989d2e554c0be74c" style="width: 100.0%; height: 100.0%;">AIFA</div>`)[0];
                popup_e1bf42416d7b624ab31f1943544da0b5.setContent(html_e11449e3f33fff59989d2e554c0be74c);
            
        

        marker_fc085563daf6151bdb083f1293b06277.bindPopup(popup_e1bf42416d7b624ab31f1943544da0b5)
        ;

        
    
    
            var poly_line_6e904010b78715840552399a30a68f1f = L.polyline(
                [[19.5993901787755, -99.1866105397135], [19.632949390266, -99.1620556725949], [19.646522823467, -99.1458525844175], [19.7022270165225, -99.0817620548386], [19.7229223906005, -99.0575557095261], [19.7356220265202, -99.0259414471466]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_ead4c3ab7e1dd11a69cc70b225422588);
        
    
            var feature_group_595e2c2c00f610ba965f8eee46345ad6 = L.featureGroup(
                {}
            ).addTo(map_70ccb99104643824ec7ff6b1beaa8f1d);
        
    
            var marker_50c877b33226fbf33895df7e02dda0b4 = L.marker(
                [19.1928136746947, -99.02285646865],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_9a8f48cd472f029e3dcd7f5498514e8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_50c877b33226fbf33895df7e02dda0b4.setIcon(icon_9a8f48cd472f029e3dcd7f5498514e8a);
        
    
        var popup_0fb696eba7f938300853494b90a591e6 = L.popup({"maxWidth": "100%"});

        
            
                var html_c4e0dd9098be20578d9651689ae4cac4 = $(`<div id="html_c4e0dd9098be20578d9651689ae4cac4" style="width: 100.0%; height: 100.0%;">Villa Alta</div>`)[0];
                popup_0fb696eba7f938300853494b90a591e6.setContent(html_c4e0dd9098be20578d9651689ae4cac4);
            
        

        marker_50c877b33226fbf33895df7e02dda0b4.bindPopup(popup_0fb696eba7f938300853494b90a591e6)
        ;

        
    
    
            var marker_8452a057cd6bc28200ff325185e829bd = L.marker(
                [19.1719330241731, -99.0035250215966],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_51351078a07d0c31a9ef7fc2a5672080 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_8452a057cd6bc28200ff325185e829bd.setIcon(icon_51351078a07d0c31a9ef7fc2a5672080);
        
    
        var popup_5129977fd4fb099cfef47ebfaf987631 = L.popup({"maxWidth": "100%"});

        
            
                var html_95286f4daf763b3bb59e341d6ee9cf40 = $(`<div id="html_95286f4daf763b3bb59e341d6ee9cf40" style="width: 100.0%; height: 100.0%;">Santa Ana</div>`)[0];
                popup_5129977fd4fb099cfef47ebfaf987631.setContent(html_95286f4daf763b3bb59e341d6ee9cf40);
            
        

        marker_8452a057cd6bc28200ff325185e829bd.bindPopup(popup_5129977fd4fb099cfef47ebfaf987631)
        ;

        
    
    
            var marker_dea920c93dbaede6d7e905ecfff7a7bb = L.marker(
                [19.1145403510756, -98.935911776218],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_53b1b25f0aef1730943402adce6c6b38 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_dea920c93dbaede6d7e905ecfff7a7bb.setIcon(icon_53b1b25f0aef1730943402adce6c6b38);
        
    
        var popup_a7db89552b821b6fa5b5e25220469d98 = L.popup({"maxWidth": "100%"});

        
            
                var html_e703f1a4c5623bbb6e18b667302cced9 = $(`<div id="html_e703f1a4c5623bbb6e18b667302cced9" style="width: 100.0%; height: 100.0%;">La Quietitud</div>`)[0];
                popup_a7db89552b821b6fa5b5e25220469d98.setContent(html_e703f1a4c5623bbb6e18b667302cced9);
            
        

        marker_dea920c93dbaede6d7e905ecfff7a7bb.bindPopup(popup_a7db89552b821b6fa5b5e25220469d98)
        ;

        
    
    
            var marker_9e03c7809173ac32c13f052e2b821796 = L.marker(
                [19.0361589566321, -98.9401084153015],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_0836e64dbdd4bc133b6baaed3f10f41e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_9e03c7809173ac32c13f052e2b821796.setIcon(icon_0836e64dbdd4bc133b6baaed3f10f41e);
        
    
        var popup_282631d56784378ca957ec875156bada = L.popup({"maxWidth": "100%"});

        
            
                var html_54ebea9970eb06159a73e1cba79fc914 = $(`<div id="html_54ebea9970eb06159a73e1cba79fc914" style="width: 100.0%; height: 100.0%;">Felipe Neri</div>`)[0];
                popup_282631d56784378ca957ec875156bada.setContent(html_54ebea9970eb06159a73e1cba79fc914);
            
        

        marker_9e03c7809173ac32c13f052e2b821796.bindPopup(popup_282631d56784378ca957ec875156bada)
        ;

        
    
    
            var marker_f111e71bbddd281e32478478a00fea7d = L.marker(
                [19.0006411816147, -98.940799007594],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_72a28359b386e363127a324c9db0ac93 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_f111e71bbddd281e32478478a00fea7d.setIcon(icon_72a28359b386e363127a324c9db0ac93);
        
    
        var popup_7fe3efd4c14cb5876f7741b99194de8a = L.popup({"maxWidth": "100%"});

        
            
                var html_e7edfe7ac9390f4f17ded19ec3bbf563 = $(`<div id="html_e7edfe7ac9390f4f17ded19ec3bbf563" style="width: 100.0%; height: 100.0%;">Nepopualco</div>`)[0];
                popup_7fe3efd4c14cb5876f7741b99194de8a.setContent(html_e7edfe7ac9390f4f17ded19ec3bbf563);
            
        

        marker_f111e71bbddd281e32478478a00fea7d.bindPopup(popup_7fe3efd4c14cb5876f7741b99194de8a)
        ;

        
    
    
            var marker_fbbd7bfbe2493139b6cceb16d1266676 = L.marker(
                [18.9821225468375, -98.9261703562692],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_7e4e2fb268de43d2769747c1b3c98cbf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_fbbd7bfbe2493139b6cceb16d1266676.setIcon(icon_7e4e2fb268de43d2769747c1b3c98cbf);
        
    
        var popup_17708041f9c337c5317b7c38e96cf1d1 = L.popup({"maxWidth": "100%"});

        
            
                var html_a3d92a13282db13681e90dc04e9ff40d = $(`<div id="html_a3d92a13282db13681e90dc04e9ff40d" style="width: 100.0%; height: 100.0%;">Totoloapan</div>`)[0];
                popup_17708041f9c337c5317b7c38e96cf1d1.setContent(html_a3d92a13282db13681e90dc04e9ff40d);
            
        

        marker_fbbd7bfbe2493139b6cceb16d1266676.bindPopup(popup_17708041f9c337c5317b7c38e96cf1d1)
        ;

        
    
    
            var marker_46dbf5f427df704e0fd41c9b8973d7aa = L.marker(
                [18.9498238507384, -98.9791907734195],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_e95d6ab62b591b0125833f944f00a1f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_46dbf5f427df704e0fd41c9b8973d7aa.setIcon(icon_e95d6ab62b591b0125833f944f00a1f6);
        
    
        var popup_2b5c0f954094c7ebe56e454a3f3e496f = L.popup({"maxWidth": "100%"});

        
            
                var html_65ca60f1698c251ee47b0864d28cdd88 = $(`<div id="html_65ca60f1698c251ee47b0864d28cdd88" style="width: 100.0%; height: 100.0%;">Tlayacapan</div>`)[0];
                popup_2b5c0f954094c7ebe56e454a3f3e496f.setContent(html_65ca60f1698c251ee47b0864d28cdd88);
            
        

        marker_46dbf5f427df704e0fd41c9b8973d7aa.bindPopup(popup_2b5c0f954094c7ebe56e454a3f3e496f)
        ;

        
    
    
            var marker_c20f8ec30eacd0b81f02b89e4d8f3a51 = L.marker(
                [18.9120009439869, -98.9720750260755],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_27253a6218a2c0e8dfa332665e0208d5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_c20f8ec30eacd0b81f02b89e4d8f3a51.setIcon(icon_27253a6218a2c0e8dfa332665e0208d5);
        
    
        var popup_8aa042f05eab478689d8779aa0602423 = L.popup({"maxWidth": "100%"});

        
            
                var html_cd1233f43e7347886e09abd0cf241ae1 = $(`<div id="html_cd1233f43e7347886e09abd0cf241ae1" style="width: 100.0%; height: 100.0%;">Oaxtepec</div>`)[0];
                popup_8aa042f05eab478689d8779aa0602423.setContent(html_cd1233f43e7347886e09abd0cf241ae1);
            
        

        marker_c20f8ec30eacd0b81f02b89e4d8f3a51.bindPopup(popup_8aa042f05eab478689d8779aa0602423)
        ;

        
    
    
            var marker_bc81ad0e83860c32f8e4a37cd9d5463f = L.marker(
                [18.8822914333589, -98.9849871314571],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_991ea15aa45abbb9aa4e9870a29a5089 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_bc81ad0e83860c32f8e4a37cd9d5463f.setIcon(icon_991ea15aa45abbb9aa4e9870a29a5089);
        
    
        var popup_fa209c5bfba909a5663931f68549b079 = L.popup({"maxWidth": "100%"});

        
            
                var html_824b2363b238a688744d8ecebda623f1 = $(`<div id="html_824b2363b238a688744d8ecebda623f1" style="width: 100.0%; height: 100.0%;">Cocoyoc</div>`)[0];
                popup_fa209c5bfba909a5663931f68549b079.setContent(html_824b2363b238a688744d8ecebda623f1);
            
        

        marker_bc81ad0e83860c32f8e4a37cd9d5463f.bindPopup(popup_fa209c5bfba909a5663931f68549b079)
        ;

        
    
    
            var marker_24a032010974acff7af61ee0cf7f8f78 = L.marker(
                [18.8525152125409, -98.9361297544955],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_c1cb78ea3c0e180e79abe3ffb2e83917 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_24a032010974acff7af61ee0cf7f8f78.setIcon(icon_c1cb78ea3c0e180e79abe3ffb2e83917);
        
    
        var popup_a1d2ed6e233732bac29d6c145878ae71 = L.popup({"maxWidth": "100%"});

        
            
                var html_96d05ff57c0d7f48729670a8e0693873 = $(`<div id="html_96d05ff57c0d7f48729670a8e0693873" style="width: 100.0%; height: 100.0%;">Cuatlixco</div>`)[0];
                popup_a1d2ed6e233732bac29d6c145878ae71.setContent(html_96d05ff57c0d7f48729670a8e0693873);
            
        

        marker_24a032010974acff7af61ee0cf7f8f78.bindPopup(popup_a1d2ed6e233732bac29d6c145878ae71)
        ;

        
    
    
            var marker_08ec028f75d2af366c71e3eec94db771 = L.marker(
                [18.8173337019107, -98.9539953653986],
                {}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var icon_8841d6ed5b9089e3d3069f6080f78846 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "train", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_08ec028f75d2af366c71e3eec94db771.setIcon(icon_8841d6ed5b9089e3d3069f6080f78846);
        
    
        var popup_5f34403c4b653be78664f11d1e67ea6f = L.popup({"maxWidth": "100%"});

        
            
                var html_4b1feacbdd697721ea648b8b7c5fafcf = $(`<div id="html_4b1feacbdd697721ea648b8b7c5fafcf" style="width: 100.0%; height: 100.0%;">Cuautla</div>`)[0];
                popup_5f34403c4b653be78664f11d1e67ea6f.setContent(html_4b1feacbdd697721ea648b8b7c5fafcf);
            
        

        marker_08ec028f75d2af366c71e3eec94db771.bindPopup(popup_5f34403c4b653be78664f11d1e67ea6f)
        ;

        
    
    
            var poly_line_4ccf52febb505f3143e32c8ade7bc1ee = L.polyline(
                [[19.1928136746947, -99.02285646865], [19.1719330241731, -99.0035250215966], [19.1145403510756, -98.935911776218], [19.0361589566321, -98.9401084153015], [19.0006411816147, -98.940799007594], [18.9821225468375, -98.9261703562692], [18.9498238507384, -98.9791907734195], [18.9120009439869, -98.9720750260755], [18.8822914333589, -98.9849871314571], [18.8525152125409, -98.9361297544955], [18.8173337019107, -98.9539953653986]],
                {"bubblingMouseEvents": true, "color": "darkred", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "darkred", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 7}
            ).addTo(feature_group_595e2c2c00f610ba965f8eee46345ad6);
        
    
            var layer_control_45fd321390c116eda0852cd07f721f38 = {
                base_layers : {
                    "openstreetmap" : tile_layer_097ff536b1817568faba70d0dec20c68,
                },
                overlays :  {
                    "Suburbano L1" : feature_group_b54d5a010ab7d5d818e4ba2da8ce8595,
                    "Suburbano L2" : feature_group_b6768a3f4208db408fe58e315c8d0b2c,
                    "Suburbano L1 - Ramal B" : feature_group_ead4c3ab7e1dd11a69cc70b225422588,
                    "Suburbano L3" : feature_group_595e2c2c00f610ba965f8eee46345ad6,
                },
            };
            L.control.layers(
                layer_control_45fd321390c116eda0852cd07f721f38.base_layers,
                layer_control_45fd321390c116eda0852cd07f721f38.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_70ccb99104643824ec7ff6b1beaa8f1d);
        
</script>
</html>